@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url('../../default/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../default/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
       url('../../default/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
       url('../../default/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
       url('../../default/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-300.eot');
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-300.woff2') format('woff2'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-300.woff') format('woff'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-300.ttf') format('truetype'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-300.svg#OpenSansCondensed') format('svg');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-700.eot');
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-700.woff2') format('woff2'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-700.woff') format('woff'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-700.ttf') format('truetype'),
       url('../../default/fonts/open-sans-condensed-v11-latin_latin-ext-700.svg#OpenSansCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-300.eot');
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-300.woff2') format('woff2'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-300.woff') format('woff'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-300.ttf') format('truetype'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-300.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-regular.eot');
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-regular.woff2') format('woff2'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-regular.woff') format('woff'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-regular.ttf') format('truetype'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-regular.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-700.eot');
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-700.woff2') format('woff2'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-700.woff') format('woff'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-700.ttf') format('truetype'),
       url('../../default/fonts/roboto-condensed-v14-latin_latin-ext-700.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../default/fonts/pt-sans-v8-latin_latin-ext-regular.eot');
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-regular.woff2') format('woff2'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-regular.woff') format('woff'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-regular.ttf') format('truetype'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-regular.svg#PTSans') format('svg');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../default/fonts/pt-sans-v8-latin_latin-ext-700.eot');
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-700.woff2') format('woff2'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-700.woff') format('woff'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-700.ttf') format('truetype'),
       url('../../default/fonts/pt-sans-v8-latin_latin-ext-700.svg#PTSans') format('svg');
}