/* basic brand colors */
.std .color-brand, .std a.color-brand:hover {color:#00285e;}
.std .color-brand-2, .std a.color-brand-2:hover {color:#c6168d;}
.std .bg-brand {background:#00285e;}
.std .bg-brand-2 {background:#c6168d;}
.std ul.bullet_check > li:before {color:#00285e;}
.std .bullet_circle > li:before, .std .image_tooltips li:before, .std .image_tooltips li span, .std .img_nmb, .std .bullet_square > li:before, .std .img_nmb_square {background:#00285e; color:#FFF; font-family:"PT Sans", Arial, sans-serif;}
.std .tooltip_icon:before {background:#00285e; color:#FFF;}
.product-availability-wrapper {font-family:"PT Sans", sans-serif;}
/* video links */
.std .video_link:before, .std .video_box_link div:before, .std .video_box_link span:before {color:#00285e;}

/* tooltipster */ 
.tooltipster-sidetip .tooltipster-box {border-color:#00285e;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {border-bottom-color:#00285e;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {border-left-color:#00285e;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {border-right-color:#00285e;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {border-top-color:#00285e;}

/* cetelem preloader */
.popupCetelemDownPay label {font-family: "PT Sans", Arial, sans-serif;}
.popupCetelemTitle {font-family: "PT Sans", Arial, sans-serif;}
.popupCetelemSubTitle {font-family: "PT Sans", Arial, sans-serif;}
/* cetelem preloader */

/* widget product list */
.widget-products-category-list .product-list-sale {font-family:"PT Sans", sans-serif; color:#c6168d;}
/* widget product list */

/* product lists */
.header-product-link p.product-name-side {font-size:16px; font-family:"PT Sans", sans-serif;}
/* product lists */

/* user account */
.user-table-list ol li {font-family: Arial, Helvetica, sans-serif; font-size:14px;}
.order-items.order-details .user-table-list ol li.product-name .item-options {font-family: Arial, Helvetica, sans-serif; font-size:12px;}
#wishlist-list ol.wishlist-list-header li div.wishlist-header-item {font-family: Arial, Helvetica, sans-serif; font-size:14px;}
li.customer-wishlist-item-price .prices-box span.regular-price span.price {color:#C6168D; font-weight:bold; font-family: "PT Sans", Arial, sans-serif;}
li.customer-wishlist-item-price .prices-box p.special-price span.price {color:#C6168D; font-family: "PT Sans", Arial, sans-serif;}
li.customer-wishlist-item-price .prices-box p span.price {font-family: "PT Sans", Arial, sans-serif;}
.account-hdr h2 {color:#00285e;}
.order-items.order-details h2 {font-size:28px;}
.details h5 {font-family: "PT Sans", Arial, sans-serif; color:#00285e;}
body.customer-account .my-account .page-title h1 {font-size:30px;}
.page-print .user-table-list ol li.product-name {font-family: "PT Sans", Arial, sans-serif;}
.page-print .user-table-list ol li.product-name h3 {font-size:18px;}
.page-print .user-table-list ol li.product-name dd {font-family: Arial, Helvetica, sans-serif;}
.page-print .user-table-list ol li.product-name dt {font-family: Arial, Helvetica, sans-serif;}
.user-order-totals-list ol.grand_total li {color:#00285e; font-family: "PT Sans", Arial, sans-serif;}
li.customer-wishlist-item-price .prices-box .club-five {color:#00285e;}
.my-account .buttons-set a {color:#00285e;}
/* user account */

/*Checkout-Main-Message*/
.checkout-main-message .cmm-content h2:before {color:#C6168D;}
/*Checkout-Main-Message - END*/

/* product prices */
.price-box, .club-five, .product-installments {font-family:'PT Sans', Arial, sans-serif;}
.price-box .regular-price span, .price-box .special-price span {color:#C6168D;}
.price-box .minimal-price-link {color:#C6168D;}
.nav-dropdown-container .special-price {color:#C6168D;}
.home-page-keyvisual .description .slider-prices {font-family:'PT Sans', Arial, sans-serif;}
.home-page-keyvisual .description .slider-prices p.old-price {font-size:14px;}
.home-page-keyvisual .description .slider-prices p.regular-price {font-size:19px; color:#C6168D;}
.home-page-keyvisual .description .slider-prices p.special-price {font-size:19px; color:#C6168D;}
.home-page-keyvisual .description .slider-prices p.club5-price {padding-top:6px; font-size:14px;}
.home-page-keyvisual .description .slider-prices p.special-text {font-size:19px; font-family:'PT Sans', Arial, sans-serif;}
.home-page-keyvisual .description .slider-prices p.special-note {font-size:19px; font-family:'PT Sans', Arial, sans-serif;}
.brand-page-sidebanner .slider-prices p.special-price {color:#C6168D;}
.home-page-keyvisual .description .slider-prices p.dimension-price {font-size:14px;}
.home-page-keyvisual .description .slider-prices p.dimension-price strong {font-size:19px; color:#C6168D;}
/* product prices */

/* product promotions */
.product-view .product-shop .sales-message {font-family:"PT Sans", sans-serif; color:#c6168d;}
.product-gift-cell.desc {font-family:"PT Sans", sans-serif; color:#41aeef;}
/* product promotions */

/*Slim Banner*/
.slim-banner-content h2 {color: #00285e; font-size: 20px; font-weight: bold; font-family:"PT Sans", sans-serif;}
.slim-banner-content p {color: #000000;}
.slim-banner-content .readmore {color: #00285e; font-family:"PT Sans", sans-serif;}
/*Slim Banner - End*/

/*Banner Slim*/
.banner-slim .banner-slim-content h2 {font-weight:bold;}
.banner-slim .banner-slim-content a {font-size:13px; font-family:"PT Sans", sans-serif;}

/*Home Testimonial*/
.home-testimonials .home-testimonials-content {background-color:#00285e; position:relative;}
.home-testimonials .home-testimonials-content:after {content:""; position:relative; clear:both; display:block; line-height:0px;}
.home-testimonials .home-testimonials-box {width:60%; float:left; position:relative; background:#00285e; bottom:0px; padding:1.4em 1.5em;}
.home-testimonials .home-testimonials-box h2 {padding-bottom:1em; color:#FFFFFF; font-weight:bold; font-family:"PT Sans", sans-serif;}
.home-testimonials .home-testimonials-box p {color:#FFFFFF; font-size:13px;}
.home-testimonials .home-testimonials-box p:before {color:#586887;}
.home-testimonials .home-testimonials-box p:after {color:#586887;}
.home-testimonials .home-testimonials-box p.author {margin-top: 1em;}
.home-testimonials .home-testimonials-box .readmore {color:#FFFFFF;}
.home-testimonials .home-testimonials-desktop {float:right; width:40%; text-align:right;}
.home-testimonials .home-testimonials-desktop img {width:auto; max-width:inherit; height:100%;}
.home-testimonials .home-testimonials-mobile img {width:100%;}
.home-testimonials .home-testimonials-desktop:before {border-color:transparent transparent transparent #00285e;}
/*Home Testimonial - End*/

/* Facebook page like */
.two-block.side-promo .fb-holder-init .body-holder h5, .one-block.side-promo .fb-holder-init .body-holder h5{font-family: 'PT Sans', arial, sans-serif; color:#00285e; margin:0;}
.two-block.side-promo .fb-holder-init .body-holder {position:absolute; bottom:30%; top:auto; width:100%; text-align:center; background:rgba(255, 255, 255, 0.85); padding:10px 5px;}
.two-block.side-promo .fb-holder-init .side-promo-outer {position:absolute; bottom:3%; width:100%; padding:0 10px;}
.two-block.side-promo .fb-holder-init .fb-like {clear:both; display:block;}
.two-block.side-promo .fb-holder-init .fb-share-button {clear:both; display:block; margin-top:5px;}
.one-block.side-promo .fb-holder-init .body-holder {position:absolute; bottom:30%; top:auto; width:100%; text-align:center; background:rgba(255, 255, 255, 0.85); padding:10px 5px;}
.one-block.side-promo .fb-holder-init .side-promo-outer {position:absolute; bottom:2%; width:100%; padding:0 10px;}
.one-block.side-promo .fb-holder-init .fb-like {clear:both; display:block;}
.one-block.side-promo .fb-holder-init .fb-share-button {clear:both; display:block; margin-top:5px;}
.one-block.side-promo .fb-holder-init {text-align:center;}
.one-block.side-promo .fb-holder-init .side-promo-text {text-align:left;}

/* guides list fix */
.guide-list-item:nth-child(3n+1) {clear:left;}
.contentcategory-list-item:nth-child(3n+1) {clear:left;}

/*Popup Uni Wrapper*/
.popup-uni-wrapper h1, .popup-uni-wrapper h2, .popup-uni-wrapper h3, .popup-uni-wrapper h4, .popup-uni-wrapper h5, .popup-uni-wrapper h6, .popup-uni-wrapper a, .popup-uni-wrapper span {color:#00285e;}
/*Popup Uni Wrapper - END*/

/* Video Gallery */
.article_2large {}
.article_2large .content-block {width:100%; left:0px; right:0px;}
.article_2large .content-block h3 {color:#00285e; font-weight:bold;}
.article_2large .content-block a {font-family:'PT Sans', arial, sans-serif;}
/* Video Gallery - END*/

/* compare table */
.data-table-left-row .data-table-cell {color:#00285e; font-family:'PT Sans', arial, sans-serif;}
/* compare table */

/*Error 404*/
.error404 .main-hd h1, .error404 .main-options .option-box .option-box-des h3, .error404 .main-options .option-box.link .option-box-des h3:after {color:#00285e;}
/*Error 404 - End*/

/*Extended Warranty*/
.cart-table tbody tr.warranty-item-row td.product-cart-info {font-family:'PT Sans',sans-serif;}
.warranty-name {font-family:'PT Sans',sans-serif; color: #00285e;}
.extended-warranty-popup .readmore {font-family:'PT Sans', arial, sans-serif;}
/*Extended Warranty - End*/

/*Uni Side Box*/
.uni-side-box .usb-content {bottom:5%; text-align:center;}
.uni-side-box .usb-content h3 {color:#00285e; font-weight:600;}
.uni-side-box .usb-content p {color:#000000;}
.uni-side-box .usb-content p a {color:#00285e; font-family:'PT Sans', Arial, sans-serif;}

.uni-side-box[data-calculate-box-structure="right"] .usb-content h3 {color:#00285e;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content p {color:#00285e;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content p a {color:#00285e;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content a {color:#00285e;}
.uni-side-box.sl_grey .usb-picto, .uni-side-box.sl_grey .usb-content-lft {background-color:#f4f4f4;}
.uni-side-box.sl_grey .usb-content-rght {background-color:#e1e1e1;}
/*Uni Side Box - END*/

/*Side Banner Benefits*/
.side-box-benefits .usb-content {width:100%; position:relative; top:0; bottom:0; left:0; right:0; background-color:transparent;}
.side-box-benefits .usb-content h3 {color:#00285e; font-weight:bold;}
.side-box-benefits .usb-content p {color:#000000;}
.side-box-benefits .usb-content a {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif;}

/* content side banners */
.side-banner-txt-block {background-color:transparent;}
.side-banner-txt-inner {background-color:transparent;}
.side-banner-txt {display:block; width:100%; left:0; bottom:5%; background:rgba(255,255,255,0.8); padding:0.6em;}
.side-banner-txt-inner h3, .side-banner-txt-inner .side-banner-header-h3 {display:block; padding:0; margin-bottom:5px; text-align:center; background-color:transparent; font-size:18px; line-height:1.2; color:#00285e; font-weight:600; width:100%; font-family: "PT Sans",arial,sans-serif;}
.side-banner-click-inner {display:block; width:100%; padding:0; text-align:center; background-color:transparent; color:#00285e; font-size:0.9em; font-weight:600; text-transform:uppercase;}
.side-banner-click-inner span {display:inline; color:#00285e; font-weight:700; font-family:'PT Sans',Arial,sans-serif;}

/*Recently Viewed Products Wide*/
.recently-viewed-items-wide {background-color:#f7efe2;}
.recently-viewed-items-wide .rviw-hd .rviw-hd-txt h6 {color:#00285e; font-family:'PT Sans', arial, sans-serif;}
.recently-viewed-items-wide .rviw-content .product-hd p {font-family:'PT Sans', arial, sans-serif;}
/*Recently Viewed Products Wide - END*/

/*Product Title*/
.products-title .btn {text-transform: uppercase; font-size: 16px; float: right; padding-top:15px;}

/*Article Basic*/
.article-basic .article-basic-list .article-basic-box .article-basic-content h3 {color:#00285e; font-weight:bold;}
.article-basic .article-basic-list .article-basic-box .article-basic-content .readmore {color:#00285e; font-family:'PT Sans', arial, sans-serif;}
/*Article Basic - END*/

/*Cart TopBar*/
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb {background-color:#04133c; color:#FFFFFF;}
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell {background: #00285e;}
/*Cart TopBar - End*/

/*Cart Side Benefits*/
.cart-benefits .cart-benefits-box .icon:after {background-color:#00285e;}
.cart-benefits .cart-benefits-box .text .title {font-family:'PT Sans', arial, sans-serif;}
/*Cart Side Benefits - End*/

/* newsletter widget */
.newsletter-title {font-family:'PT Sans', sans-serif;}
.newsletter-title i {color:#00285e;}
.newsletter-btn button {border:1px solid #00285e; background:#00285e;}
.newsletter-btn button:hover {background:#00285e; border:1px solid #00285e;}
.newsletter-widget #validate-newsletter-message.success {font-family:'PT Sans', sans-serif;}
.newsletter-widget #validate-newsletter-message.success p {font-family:Arial, Helvetica, sans-serif;}
.newsletter-account-text p a {background-color:#00285e; border-color:#00285e;}
/* newsletter box - End */

/* shopfinder */	
.groupMarker, .marker-label, .marker-arrow, .marker-icon {background-color:#00285e;}
/* shopfinder end */

/*Promotional Popup*/
.vbox-promotional .popup-promotional .popup-promotional-des h1 {color:#222222;}
.vbox-promotional .popup-promotional .popup-promotional-des h1 span {color:#C6168D;}
.vbox-promotional .popup-promotional .popup-promotional-des h2 {color:#222222;}
.vbox-promotional .popup-promotional .popup-promotional-product .popup-promotional-content h3 {color:#222222;}
/*Promotional Popup - End*/

.slider_k2c_main_side {background-color:#00285e;}
.slider_k2c_side_close {color:#00285e;}
.slider_k2c_main_side.noTab .slider_k2c_sidetab_ico {background-color:#00285e;}
.slider_k2c_rotate {font-family: "PT Sans", arial, sans-serif;}
.k2c-title {color:#00285e; font-family: "PT Sans", arial, sans-serif;}

/*Header Phone Number*/
.phone-mobile-box .txt {color:#000000;}
.phone-mobile-box span.phonesBox {color:#ffffff; background-color:#00285e;}
.phone-mobile-box span.phonesBox:after {color:#00285e;}
.mobileCartPhoneInner a {color:#00285e;}
.secure-header-middle .contact-info span.orderPhone, .secure-header-middle .contact-info span.infoPhone {color:#00285e;} 

/* category list title */
.category-list-title h1 {color:#00285e;}

/*Coupon Label Box*/
.coupon-label-box {background-color:#C6168D;}

/*Out Of Stock*/
.txt-out-of-stock {font-family: "PT Sans", arial, sans-serif;}
.txt-only-10-left {font-family: "PT Sans", arial, sans-serif;}
.out-of-stock-item-active .new-label,
.out-of-stock-licontent-active .new-label {opacity:1; filter:alpha(opacity=100); background-color:#e8a2d0;}

/*PDP - Out Of Stock*/
.pdp-txt-out-of-stock {font-size:13px; font-family: "PT Sans", arial, sans-serif;}

/*Reviews Box*/
.reviews-box .reviews-box-content .reviews-box-more a {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif; text-transform:uppercase;}
.reviews-box-footer.reviews-box .reviews-box-hd h3 {color:#00285e;}

.leisureCalc .lesCalNum_txt strong {color:#00295f; font-weight:normal;}

/* Category Club5 */
.category-club5-gift .category-club5-gift-content .prices p.regularPrice {color:#888888; font-family:'PT Sans', Arial, sans-serif;}
.category-club5-gift .category-club5-gift-content .prices p.yourPrice {color:#C6168D; font-family:'PT Sans', Arial, sans-serif;}
.category-club5-gift .category-club5-gift-content .prices p.clubPrice {color:#00285e;}
/* Category Club5 - End */

.quickview-produs .item-options-wrapper .item-options {font-size:14px; line-height:20px; font-family:'PT Sans', Arial, sans-serif;}

/*Reviews CMS Widget*/
.reviews-default-widget .review-button:hover {background:#00285e; border: 1px solid #00285e;}
.reviews-default-widget .fieldset h4,
.reviews-default-widget .review-heading h2 {font-family:'PT Sans', Arial, sans-serif;}

/*Promo Block Category*/
.category-promo-block .category-promo-block-content {left:0; right:0;}
.category-promo-block .category-promo-block-content h3 {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif;}
.category-promo-block .category-promo-block-content p {color:#000000;}
.category-promo-block .category-promo-block-content a {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif; text-transform:uppercase;}

#bottom-product-buy .buybox-name {color:#00285e; font-family:'PT Sans', Arial, sans-serif;}

/*store locator*/
.store-locator-box .btn-slb:hover {background-color: #00285e; border: 1px solid #00285e; color: #fff;}

/*Home Page Keyvisual*/
.home-page-keyvisual .description h2,
.home-page-keyvisual .home-page-sidebanner .description h2 {color:#00285e; font-weight:bold;}
.home-page-keyvisual .description .slider-btn {background:#00285e; border:1px solid #00285e;}
/*Home Page Keyvisual - END*/

/*Mobile Renew HP*/
.js-hp-kv-slider .home-page-keyvisual .description p {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif;}
/*Mobile Renew HP - END*/

/*Reviews HP Side*/
.reviews-hp-side .reviews-hp-side-title h6,
.reviews-hp-side .reviews-hp-side-hd h3,
.reviews-hp-side .reviews-hp-side-hd h3 a,
.reviews-hp-side .reviews-hp-side-more a {font-family:'PT Sans', Arial, sans-serif;}

/* product lists */
.articles-subcategory .products-list li .li-content .read-more-lnk {color:#00285e; font-weight:bold; font-family:'PT Sans', Arial, sans-serif;}

/* product page */
.countdown-timer {color:#c6168d; font-family:"PT Sans", sans-serif;}
.countdown-title {font-family:"PT Sans", sans-serif;}
.std h4 .img_prod_height:before {border-color:transparent transparent #00285e transparent;}
.std h4 .img_prod_height:after {border-color:#00285e transparent transparent transparent;}
/* product page */

/*Content Category Videos*/
.content-category-videos .content-category-video .content-category-video-img:before {color:#00285e;}
.content-category-videos .content-category-video .content-category-video-info .content-category-video-info-btn span {color:#00285e; font-family:'PT Sans', Arial, sans-serif;}
.content-category-videos .content-category-video .content-category-video-info .content-category-video-info-btn > span:after {color:#00285e;}

@media only screen and (max-width: 1260px) {
/* content side banners */
.side-banner-txt-inner h3, .side-banner-txt-inner .side-banner-header-h3 {font-size:16px;}
}

@media only screen and (max-width: 1060px) {

/*Home Testimonial*/
.home-testimonials .home-testimonials-box {padding:1em;}
/*Home Testimonial - End*/
}

@media only screen and (max-width: 960px) {
.sticky-header {background:#00285e;}    
    
#topbar-opcheckout {padding-bottom:0;}
}

@media only screen and (max-width:800px) {
/* user account */
body.customer-account .my-account .page-title h1 {font-size:26px;}
.order-items.order-details h2 {font-size:24px;}
/* user account */
}

@media only screen and (max-width:770px) {
/*Slim Banner*/  
.slim-banner-content h2 {font-size: 18px;}
.slim-banner-content p {font-size: 12px;}
.slim-banner-content .readmore {font-size: 12px;}
/*Slim Banner - End*/ 
}


@media only screen and (max-width:641px) {
/* user account */
body.customer-account .my-account .page-title h1 {font-size:22px;}
.order-items.order-details h2 {font-size:20px;}
/* user account */
    
/*Home Testimonial*/
.home-testimonials .home-testimonials-box {float:none; width:100%;}
/*Home Testimonial - End*/

/* guides list fix */
.products-grid--max-3-col>li.guide-list-item:nth-child(3n+3) {clear:none;}
.guide-list-item:nth-child(3n+1) {clear:none;}
.products-grid--max-3-col>li.guide-list-item:nth-child(2n+1) {clear:left;}	
.products-grid--max-3-col>li.contentcategory-list-item:nth-child(3n+3) {clear:none;}
.contentcategory-list-item:nth-child(3n+1) {clear:none;}
.products-grid--max-3-col>li.contentcategory-list-item:nth-child(2n+1) {clear:left;}

/* content side banners */
.side-banner-txt {padding:0 0.6em;}
.side-banner-click {display:none;}

/*Header Phone Number*/
.phone-mobile-box span.phonesBox {background-color:transparent; color:#00285e;}
.phone-mobile-box span.phonesBox:before {color:#00285e;}
.phone-mobile-box span a {color:#00285e;}
.phone-mobile-box span a:before {color:#00285e;}
}

@media only screen and (max-width:599px) {
/*Extended Warranty*/
.cart-table tr.has-warranty td .warranty-holder .product-cart-info {font-family:'PT Sans',sans-serif;}
/*Extended Warranty - End*/
}

@media only screen and (max-width:480px) {    
    #topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb {background-color:#00285e; color:#FFFFFF;}
    #topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb:before {border-color: transparent transparent transparent #00285e;}
    #topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb:after {border-color: transparent transparent transparent #04133c;}     
}

@media only screen and (max-width:479px) {

/*mobile categories*/
.cms-index-index .category_home_list .cathome.special {background-color:#c6168d;}
.cms-index-index .category_home_list .cathome.special h3 {color:#ffffff;}
.cms-index-index .category_home_list .cathome.special .content span.readmore .fa {color:#ffffff;}
.cms-index-index .category_home_list .cathome.special span.readmore {background-color:#a52671; color:#a52671;}
.cms-index-index .category_home_list .cathome.special .content {background-color:#c6168d;}

/* sub category list */
.category-grid.category-mobile li.subcategory .shopcategories-content{position:relative; bottom:0px; height:42px; display:table; width:100%; background:#f6efe2; opacity:1; filter:none; text-align: left; padding:0;}
.category-grid.category-mobile .shopcategories-content h2 a {color:#00285e;}
.category-grid.category-mobile .shopcategories-content h2 a:after {color:#00285e; background-color:#efe4cf;}
.contentcategory-list-container.category-grid li.subcategory .shopcategories-content{position:relative; bottom:0px; height:42px; display:table; width:100%; background:#f6efe2; opacity:1; filter:none; text-align: left; padding:0;}
.contentcategory-list-container.category-grid .shopcategories-content h2 a {color:#00285e;}
.contentcategory-list-container.category-grid .shopcategories-content h2 a:after {color:#00285e; background-color:#efe4cf;}
.videos-list-container .video-info {background-color:#f6efe2;}
.videos-list-container .video-info h2 {color:#00285e;}
.videos-list-container .video-info .vid-btn-action {background-color:#efe4cf;}
.videos-list-container .video-info .vid-btn-action .action {color:#efe4cf;}
.videos-list-container .video-info .vid-btn-action .action i {color:#00285e;}
}

@media only screen and (max-width:420px) {
.uni-side-box {width:100%; margin-left:0; display:block; margin-right:0; clear:both;}
.uni-side-box:nth-of-type(odd) {margin-left:0;}
.uni-side-box[data-calculate-box-wide="true"] {width:100%; clear:both; margin-left:0;}
.uni-side-box .usb-img-mobile img {height:auto; max-width:100%;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content {width:70%; left:30%;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content p {display:block;}
.uni-side-box[data-calculate-box-structure="right"] .usb-content .usb-content-rght {width:4%; padding:0.4em;}		
}

@media only screen and (max-width:320px) {
/*Home Testimonial*/
.home-testimonials .home-testimonials-box h2 {font-size:18px;}
.home-testimonials .home-testimonials-box p {font-size:12px;}
/*Home Testimonial - End*/	
}

/* IE8 FIXES */
@media \0screen {
.one-block.side-promo .body-holder {background:url(../../default/images/white-85.png) 0 0 repeat;}
	
/* guides list fix */
.products-grid--max-3-col>li.first {margin-left:0px; clear:left;}	
}