body, 
button,
input,
select,
table,
textarea {
  font-size: 13px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.magento_title,
#sidebar-opcheckout .text .title,
#sidebar-opcheckout .block-title strong,
.opc .section .step-title h2,
.vbox-title,
.tootip-content .label-product,
.stootip-product-name  {font-family: "PT Sans", arial, sans-serif;color:#00285e;}

#shopping-cart-totals-table tfoot tr td {font-family: "PT Sans", arial, sans-serif;}

a, .skip-links a { color: #00285e; }
a:hover { color: #00285e;}

/*Color StyleGuide*/
.dark-blue  {color:#00285e;}/*Navigation and text*/
.dark-blue2 {color:#1e355f;}/*Testimonial bg*/
.magenta    {color:#C6168D;}
.gray       {color:#A7A9AC;}
.almost-black{color:#222222;}
.light-blue  {color:#00285e;}
.cream      {color:#f6efe2;}
/*-----------*/

.logo {padding:11px 10px 29px 0;}
.hover-blue{ color: #00285e;}

.block-progress dt:hover, .block-progress dt:active {background: #00285e; color:#fff;}
.buttons-set button.button:hover,
.buttons-set a.button:hover,
a.button:hover, .buttons-set button:hover, .buttons-set .button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button:hover, .cms-page-view a.button:hover, .form-list button:hover, .addresses-additional .button:hover, .club5-membership .col-2 input.button:hover, .cart .buttons-set .button:hover, .shopfinder-index-shop a.button:hover, shopfinder-index-index a.button:hover,
.cart-table .button:hover,
.sidebar .actions .button:hover,
.button.button-secondary:hover,
.checkout-cart-index .discount-form button.button2,
.footer .block-subscribe .actions .button:hover,
.wishlist-index-index .buttons-set button.btn-share:hover,
.wishlist-index-index .buttons-set button.btn-update:hover,
.b-button:hover,
.newsletter-block .nb-btn .button:hover,
.account-club5-membership .col-2 .box-content input.button:hover {background:#00285e;color:#fff;border: 1px solid #00285e;cursor:pointer;}

.wishlist-index-index .buttons-set button.btn-add:hover {border: 1px solid #5a8103;}
/* ============================================ *
 * Home and mobile banner
 * ============================================ */
.slideshow-container .slideshow > li img { width: auto !important; }


/* ============================================ *
 * Mobile Menu
 * ============================================ */

#mob-header-nav #nav .nav-primary .promo { background: #c6168d;}
#mob-header-nav .nav-primary .promo:hover, #mob-header-nav .nav-primary li.level0.opened > a.promo { background: #071736; color: #fff; cursor: pointer; }

/* Promo and new tag for menu */
.new-main-menu { background: #555455; }
.new-main-menu:after { border-top-color: #555455;} 
#header-nav .nav-primary .promo {background: #c6168d; color:#fff;}
#header-nav .nav-primary .promo:hover,
#header-nav .nav-primary .promo:hover a {background: #ebebeb;color:#222; border-right: none;}
.telephone-btn { background: #00285e; border: #222222 1px solid; }
.body-container .title, .telephone-actions .close { color: #00285e; } 

.nav-primary a {color:#222;}
.as-seen-tv .tv-options ul li:hover {background: #d5d5d5;}
.as-seen-tv .tv-options ul li:hover > a { color: #fff !important; }
.nav-primary li.level0 {background: #d5d5d5; border-right: 1px solid #bfbfbf;}
.nav-primary li.level0.active {background: #ebebeb; border-right: #bfbfbf 1px solid; }
.nav-primary li.level0.active:hover {background: #ebebeb; border-right: #bfbfbf 1px solid; }
.nav-primary li.level0 > a {background: #d5d5d5;}
.nav-primary li.level0:hover {background: #ebebeb;}
.cms-index-index .nav-primary li.level0.active > a {color:#222;background:#d5d5d5;}
.cms-index-index .nav-primary li.level0.active {border-right: 1px solid #bfbfbf;}

@media only screen and (max-width: 960px) {
.header-brand ul li,
.nav-primary li.level0 {border-right:none !important;}	
}

.homepage-full-span.promo { background: #f6efe2; overflow: auto;margin-bottom:30px;}

.article_2block ul {margin-bottom:0;}
.article_2block .large-block-grid-2 > li { width:49%;padding:15px;margin:0;background:#fff; }
.article_2block li:first-child { margin-right:2%; }
.article_2block .image { width: 40%; float: left; }
.article_2block li:first-child {padding-left:15px !important;}
.article_2block .text { font-family: "PT Sans", Arial, sans-serif; font-size: 16px; color: #828282; line-height: 25px; width: 60%; padding: 0 15px; float: left; }
.article_2block .text a {color: #828282;}
.article_2block .text h3 { font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 22px;adding: 0 0 15px 0; }
.article_2block .text h3 a {color: #00285e;}
.article_2block a.readmore{ padding:10px 0 0 0;display:block;color: #00285e; }

.article_2block .text a:hover, .article_2block .text .title a:hover, .article_2block .btn a:hover {text-decoration:none;}

/*HOMEPAGE SLIDER  */
.banner.wide-home { padding: 0 30px; }
.slideshow-container { border: none; }

.checkout-cart-index .header-full-width, .checkout-onepage-index .header-full-width { border-bottom: #00285e solid 3px; }

@media only screen and (max-width: 960px) {
  .header-full-width { background: #00285e !important; }
  .checkout-cart-index .header-full-width, .checkout-onepage-index .header-full-width { background:#f4f4f4 !important; }
}

.homepage-full-span.blue { background: #7ca0d2; }
.homepage-full-span.blue .slideshow .text { padding: 25px 0 0 0; }
.homepage-full-span.blue .slideshow .title { font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 28px; line-height: 33px; color: #fff; padding: 0 0 13px; }
.homepage-full-span.blue .slideshow .body { font-family: "PT Sans", Arial, sans-serif; font-size: 18px; line-height: 27px; color: #fff; padding: 0 10px 20px 0px;width:100%;}
.homepage-full-span.blue .slideshow .price { display: inline-block;font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 22px; color: #c4208c; background: #e5ecf6;padding:14px; }
.homepage-full-span.blue .slideshow .price .old { font-family: "PT Sans", Arial, sans-serif; font-size: 16px; text-decoration: line-through; color: #444; padding-bottom: 8px; }
.homepage-full-span.blue .slideshow .price .club5 { font-family: "PT Sans", Arial, sans-serif; font-size: 16px; color: #444; padding-top: 8px; }
.homepage-full-span.blue .slideshow .price .club5 .club5-icon { background-position: 0 -672px;display:inline-block;height:16px;width:16px; }
.homepage-full-span.blue .slideshow .image { padding: 0; margin: 0; }
.homepage-full-span.blue .slideshow .bottom { font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 22px; background:rgba(255, 255, 255, 0.85); position: absolute; bottom: 0; padding: 15px 0; color: #00285e }
.homepage-full-span.blue .slideshow .bottom .btn { display: inline-block; padding: 4px 15px; line-height: 34px; background-color: #00285e; color: #fff; border-radius: 6px; font-size: 16px; }
.homepage-full-span.blue .slideshow .bottom .text { padding: 13px 0 0 25px; }
.homepage-full-span .slideshow-next:before, .homepage-full-span .slideshow-prev:before, .homepage-full-span .slideshow-prev:hover:before, .homepage-full-span .slideshow-next:hover:before { border-color: transparent; }

@media only screen and (max-width: 1300px) {
  .homepage-full-span .slideshow-prev { left: -27px; }
  .homepage-full-span .slideshow-next { right: -30px; }
}

.bannerstwo li {margin-bottom: 30px; list-style: none; margin-left: 0 !important;}
.bannerstwo li:last-child {margin-bottom: 0;}

.readmore {text-transform: uppercase;font-size: 0.9em;}

.side-promo, .side-logos { position: relative;padding-left:0;margin-bottom:30px;}
.side-logos {margin-bottom:1em;overflow:hidden;}
.side-promo p { font-size:14px;line-height:1.3;}
.side-promo .body-holder p {font-weight:600;color:#00285e;margin-bottom:10px;}
.side-promo .viewmore {line-height: 7em;color: #fff;text-align: right;padding: 0 0 0px 15px;text-transform: uppercase;font-size: 0.9em;}

.row.main-container .one-block.side-promo .body-holder{ position:absolute;width:96.2%;left:0.9375em;padding:10px;top:70%;background:rgba(255, 255, 255, 0.85);padding:10px;line-height:1.3em;text-align:center;}
.row.main-container .two-block.side-promo .body-holder { position:absolute;width:100%;left:0;padding:10px;bottom:10%;background:rgba(255, 255, 255, 0.85);padding:10px;line-height:1.3em;text-align:center;}

.side-promo .body-holder h3,
.slideshow .body-holder h3 { font-size:20px;margin-bottom:5px;line-height:1.3em;font-weight:600;}
.side-promo .body-holder h2,
.slideshow .body-holder h2 { font-size:20px;margin-bottom:5px;line-height:1.3em;font-weight:600;}


/* Two block code for header banner */
.two-block.side-promo {padding-right: 0 !important;position:relative;margin-bottom:18px;}
.two-block.side-promo .body-holder { position:absolute;width:100%;left:0;padding:10px;bottom:10%;background:rgba(255, 255, 255, 0.85);padding:10px;line-height:1.3em;text-align:center;}
.two-block.side-promo .body-holder {left:0;width:100%;}
.two-block.side-promo .body-holder h3 {margin-bottom: 0;}
.two-block.side-promo .body-holder p {margin-bottom:5px;font-weight:normal;color:#222;}
.two-block.side-promo .pricing {color: #75a608; font-weight: 600; margin: 0 0 13px 0;float:left;}
.two-block .view-prod, .side-promo.viewprod {background: #ebebeb; padding: 5px 10px; border-radius: 5px; border: 1px solid #e1e1e1; font-size: 14px;float:right;}
.two-block .view-prod:hover, .side-promo .viewprod:hover {background: #00285e !important; color: #fff !important; border:0 !important; font-weight: 600; text-decoration: none;}

.one-block.side-promo .body-holder,
.campaign-info .side-promo .body-holder { position: absolute; top: 40%; width: 100%; text-align: center;background:rgba(255, 255, 255, 0.85);padding: 15px 0; }
.one-block.side-promo { margin-bottom: 10px; }
.one-block.side-promo h3, .two-block.side-promo h3,
.campaign-info .side-promo .body-holder h3 { font-family: "PT Sans", sans-serif; font-size: 18px; font-weight: bold; color: #0e2a5e;}
.one-block.side-promo p, .two-block.side-promo p,
.campaign-info .side-promo .body-holder p {font-size:13px;color:#0e2a5e;line-height:1.3;}
.two-block.side-promo .readmore, .one-block.side-promo .readmore, .readmore { color: #0e2a5e; text-transform: uppercase;font-family: 'PT Sans', arial, sans-serif;font-weight:700; }

.campaign-email {background:#00285e;}
.campaign-email h2 {color:#fff;}
.campaign-email:after {border-left-color:#00285e;}
.campaign-email .view-prod {background:#ebebeb;border: 1px solid #e1e1e1;color:#222;font-size:14px;line-height:1.5;}
.campaign-email .view-prod:hover  {background:#77bcd9;border: 1px solid #77bcd9;color:#fff;}

.side-promo .side-promo-content {position: absolute;top:3%;left: 8%;width: 40%;}
.side-promo .side-promo-content h3{color:#00285e;font-size:20px;line-height:1.2;font-weight:600;}
.side-promo .side-promo-content p {line-height: 1.5em;font-size: 15px;color:#222;}


.homepage-full-span .slideshow-container .body-holder {padding: 20px; width:40%;display: inline-table; margin: 20px 0 0 7px; left: 23px;background:rgba(255, 255, 255, 0.85);}
.homepage-full-span .slideshow-container .body-holder h2 {font-size: 36px;margin-bottom:0.5em;line-height:36px;}
.homepage-full-span .slideshow-container .body-holder h3 {font-size: 30px;margin-bottom:0.5em;}
.homepage-full-span .slideshow-container .body-holder p {font-size: 18px;line-height: 22px;margin:0 0 20px;color:#222;}
.homepage-full-span .slideshow-container .body-holder ul.check li {color:#222;margin-left:0;font-size: 18px;line-height: 22px;}
.homepage-full-span .slideshow-container .copy-positioner .body-holder ul.check li:before {color:#00295f;font-size: 20px;}

.homepage-full-span { background: #fbfbf7; }
.homepage-full-span .slideshow .copy-container {font-family: 'PT Sans', arial, sans-serif; color: #00285e; }
.homepage-full-span .slider-prices p {width:100%;color:#222;}
.homepage-full-span .slideshow .body { font-family: "PT Sans", Arial, sans-serif; font-size: 20px; color: #222; padding: 5px 0 15px 0; width: 55%; line-height: 27px; } 
.homepage-full-span .slideshow .btn { font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 14px; text-transform: uppercase; }
.homepage-full-span .slideshow .btn a, .homepage-full-span.blue .slideshow .title a, .homepage-full-span.blue .slideshow .body a {color:#fff;}
.homepage-full-span .slideshow .btn a:hover, .homepage-full-span.blue .slideshow .title a:hover, .homepage-full-span.blue .slideshow .body a:hover {text-decoration:none;}

.slideshow-container {position:relative;padding-right: 0 !important;}
.slideshow-container p { font-size:14px;line-height:1.4;}
.slideshow-container .body-holder p { margin-bottom:10px;}
.slideshow-container .viewmore {line-height: 7em;color: #fff;text-align: right;padding: 0 0 0px 15px;text-transform: uppercase;font-size: 0.9em;}

.slideshow-container .body-holder { position:absolute;width:40%;left:3%;top:10%;padding:20px;bottom:10%;background:rgba(255, 255, 255, 0.85);line-height:1.3em;}
.slideshow-container .body-holder h3,
.slideshow-container .body-holder h2 { font-size:30px;margin-bottom:10px;line-height:1.2em;font-weight:600;}

.view-now { background: #ebebeb; padding: 8px 18px; border-radius: 5px; border: 1px solid #e1e1e1; font-size: 14px; }
.view-now:hover { background: #EF7321; color: #fff; text-decoration: none; }

.product-review a, .more-views .more-photos a, .chef-recom .chef-view a {color:#222;}
.products-grid .product-name a:hover, .products-list .product-name a:hover, .block-layered-nav dl dd ol > li > a:hover,
.product-view .add-to-links a:hover, .more-views .more-photos a:hover, 
.chef-recom .chef-view a:hover {color:#444;}
.you-tube-play {color:#1e355f;}

.dr-testimonials {list-style: none; overflow: hidden; margin-bottom: 20px; clear: both; }
.dr-testimonials li {float: left; position: relative; margin-left: 0 !important; list-style: none; width: 100%;}
.dr-testimonials img { float: right; }
.topbannertext-wrap { position:relative;overflow:hidden;}
.dr-testimonials .topbannertext {position: absolute; top: 0; left: 0; bottom: 0%; background-color: #1e355f; padding: 20px; width: 62%;}
.dr-testimonials .topbannertext:after {content: ""; position: absolute; right: 0%; top: 40%; border-left: 18px solid #1e355f; 
border-top: 18px solid transparent; border-bottom: 18px solid transparent; margin-right: -18px;}
.dr-testimonials h3 {font-family: 'PT Sans', arial, sans-serif;font-weight:700; color: #fff;font-size: 32px;}
.dr-testimonials p {font-family: "PT Sans", sans-serif; color: #fff; font-size: 16px; line-height: 1.5em;}
.dr-testimonials .author {font-family: 'PT Sans', arial, sans-serif;font-weight:700;color: #fff; font-size: 0.9em;}
.testimonial.readmore { float: right; font-family: 'PT Sans', arial, sans-serif;font-weight:700; font-size: 14px; text-transform: uppercase; padding-bottom: 15px; margin-top: -15px; }

.t-quote { color: #112446; float: none; vertical-align: text-top; }
.t-quote.fa-quote-right { margin-left: 10px; }

/* ============================================ *
 * Category Page
 * ============================================ */
/* Category Top */
.category-title h1, body.catalogsearch-result-index .page-title h1 {
    border-bottom: none;
    font-size: 27px;
}
.category-title h1{
    font-weight: 600;
}

.category-grid li.subcategory{
    position: relative;
    border-bottom: none;
}
.category-grid li.subcategory .shopcategories-content{
    position: absolute;
    bottom: 30px;
    width: 100%;
    background: #FFF;
    opacity:0.9; /* standard: ff gt 1.5, opera, safari */
    filter: alpha(opacity=90);
    text-align: center;
    padding: 10px;
}

.col-left .block-title {
    border-top: 0;
}
.col-left .block-content {
    margin-top:15px;
    font-size: 14px;
}

.col-left .block-content .content-text {
    width: 100%;
    top: 33%;
    padding: 10px 0;
    text-align: center;
    left: 0;
    height: auto;
	position:absolute;
	background:rgba(255, 255, 255, 0.85);
}
.col-left .block-content .content-text p {
    font-size:13px;line-height: 16px;color:#00285e;
}
.col-left .block-content .content-text h2 {
    font-size:20px;line-height:1.2;font-weight:600;
}


/*Layered Nav*/
.currently {background-color: #f6efe2;}


#recently-viewed-items .product-name {min-height: 50px;}
#recently-viewed-items .price {font-size: 15px;}
#recently-viewed-items .product-name a {font-size: 16px;}

.block-layered-nav dl dd ol > li > span,
.block-layered-nav dl dd ol > li > a, .block-layered-nav dl dd ol .price {
    padding: 5px 0px;
    display: block;

    font-size: 14px;
    color: #222;
}
.block-layered-nav dl dd ol .price {
    display: inline;
    font-weight: 400;
}


/* Category Listing */
.products-grid .desc,
.products-list .desc{
    font-size: 13px;
    line-height: 1.5em;
    margin: 0 0 1em;
}
.products-grid .actions button {
    background: none;
    color: #222;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
}
.products-grid .product-name,
.products-list .product-name {
  font-family: "PT Sans", sans-serif;
  color: #222;
    font-weight: 500;
}

.new-label{
    background-color: #c6168d;
}
#upsell-product-table .view-prod,
.products-grid .actions .view-prod,
.products-list .view-prod, .redboxdigital-quickview-index-index .product-btn .view-prod {
    background-color: #00285e;
    border: 1px solid #00285e;
    color:#FFF;
    text-decoration: none;
}


/*left nav - layered nav*/
.col-left a,
.col-left a:hover {color:#222;}

.block-layered-nav .block-content > dl > dt,
.col-left .block-title strong,
.col-left .links .block-title{
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    color:#00285e;;
}

.block-layered-nav .block-subtitle--filter {
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
.block-layered-nav .currently .block-subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.block-layered-nav .currently ol li .label {
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}


/* List page */


@media only screen and (min-width: 771px) {

    /* -------------------------------------------- *
     * Upsell Products
     */
    .box-up-sell .box-title h2 {
        text-transform: none;
        font-size: 17px;
        font-weight: 500;
    }
    #upsell-product-table .view-product .link-compare,.products-grid .add-to-links .link-compare {
        color: #222;
        text-decoration: underline;
    }
    
}
.block-compare button {
        padding: 5px 10px;
        font-size: 14px;}

/*Recent Viewed Products */
.block-viewed .block-title span {
    font-family: 'PT Sans', sans-serif;
    color: #00285e;
}
/* ============================================ *
 * Product Page
 * ============================================ */
.product-view .product-shop .product-name .h1,
.product-view .product-img-box .product-name h1 {
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;}

#customer-reviews .review-button:hover {
    background: #00285e;
    border: 1px solid #00285e;
}

.tooltip_marker {background:#00285e;} 

/* Chef Recommend / Testimonials */
.chef-recommend,  .testimonials-thumb {overflow: hidden; width: 100%; position: relative; margin-bottom: 30px;}
.chef-recom  {position: absolute; top: 10%;background:rgba(255, 255, 255, 0.85); padding: 20px; box-sizing: border-box;
bottom: 10%;left: 2%; width: 33%;} 
.chef-recom:after {content: ""; position: absolute; right: 0; top: 40%; border-left: 18px solid rgba(255,255,255,0.85); border-top: 18px solid transparent;
border-bottom: 18px solid transparent; margin-right: -18px;}


.chef-recom h2  {font-size: 28px; }
.chef-recom p  {font-family: 'PT Sans', sans-serif;font-size: 16px;font-weight: 300;line-height: 25px;margin-bottom: 35px;padding: 5px 0;}

.chef-recom .chef-view {text-transform: none;
color: #222;
font-family: "PT Sans", sans-serif;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 5px;
padding: 5px 10px;}

.testimonials-thumb ul li {display: inline; float: left; width: 49%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px 0;
margin: 0 5px 0 0; box-sizing: border-box;} 
.testimonials-thumb ul li.last {float:right; margin:0;}
.testimonials-thumb .thumb-img {float: left; margin-right: 10px; border: 1px solid #ccc;}

.testimonials-thumb h2 {color: #00285e;
text-transform: none;
font-size: 20px;
font-weight: 600;}
.testimonials-thumb p {font-size: 14px;
line-height: 23px;
color: #444; }
.testimonials-thumb .testimonial-name {margin: 15px 0 20px;}
.testimonials-thumb .view-all {background: #f7efe2;
padding: 5px 20px;
border-radius: 5px;
border: 1px solid #e1e1e1;
color: #222;
font-family: "PT Sans", sans-serif;
font-size: 14px;
font-weight: 500;}

/*Video list*/
.video-list-item {  }
.video-info { color: #565142;background: #f7f1e6; }
.video-info .title { font-family: 'PT Sans', arial, sans-serif; }

/*Product View Accordion half */
.product-info-accord {clear: both;}

.st-accordion{
    margin-top: 15px;
    font-family: 'PT Sans', sans-serif;
    width:75%;
    float: left;
}
.st-accordion ul li{
  height: auto !important;
    margin: 5px 0;
    overflow: hidden;
}
.st-accordion ul li:first-child{
    border-top:none;
}
.st-accordion ul li > a{
  text-transform: uppercase;
   background: #f6efe2;
   padding: 10px;
   font-family: 'PT Sans', sans-serif;
text-transform: uppercase;
font-size: 0.9em;
font-weight: 500;
    display: block;
  position: relative;
  outline:none;
    -webkit-transition:  color 0.2s ease-in-out;
  -moz-transition:  color 0.2s ease-in-out;
  -o-transition:  color 0.2s ease-in-out;
  -ms-transition:  color 0.2s ease-in-out;
  transition:  color 0.2s ease-in-out;
}
.st-accordion ul li > a span{
  background: transparent url(../images/plus.png) no-repeat center center;
  text-indent:-9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  opacity:1;filter: alpha(opacity=100);
  
}
.st-accordion ul li > a:hover{
    
}
.st-accordion ul li > a:hover span{
  opacity:1;filter: alpha(opacity=100);
  right: 10px;
}
.st-accordion ul li.st-open > a{
    
}
.st-accordion ul li.st-open > a span{
    background: transparent url(../images/down.png) no-repeat center center;

  right:10px;
  opacity:1;filter: alpha(opacity=100);
}

.st-content {padding-top: 15px;}

.st-content p{
    font-size:  0.85em;
    line-height:  28px;
    
}

.st-content h4, .st-content h5 {
color: #222;
text-transform: none;
font-size: 1em;}

.st-content h5 {font-size:0.9em;}

@media screen and (max-width: 320px){
  .st-accordion ul li > a{font-size:36px; }
}

.layer-accordion ul li:first-child{
    border-top:none;
}
.layer-accordion ul li > a.accord-name{
font-family: 'PT Sans', sans-serif;
text-transform: none;
font-size: 1.2em;
    display: block;
  position: relative;
  outline:none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
    -webkit-transition:  color 0.2s ease-in-out;
  -moz-transition:  color 0.2s ease-in-out;
  -o-transition:  color 0.2s ease-in-out;
  -ms-transition:  color 0.2s ease-in-out;
  transition:  color 0.2s ease-in-out;
}
.layer-accordion ul li > a.accord-name span{
  background: transparent url(../images/plus.png) no-repeat center center;
  text-indent:-9000px;
  width: 26px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  opacity:1;filter: alpha(opacity=100);
  
}

.layer-accordion .st-content 
{padding: 10px 0;
border-bottom: 1px solid #ccc; margin-bottom: 15px;}

/*Product View accordion css3 only */
.product-view .ac-container {width: 75%;}
.product-view .ac-container label {background-color: #f6efe2;}
.product-view .ac-container input:checked + label:after {}
.product-view .ac-container, .product-view .ac-container .ac-small h4, .ac-container .ac-small  h5, .product-view .ac-container .ac-small p
 {font-family: 'PT Sans', sans-serif; font-size: 1em !important;}
 .product-view .ac-container .ac-small p {font-size: 0.9em !important;}
 .short-text {
    overflow: hidden;
    height: 10em;
}

.full-text{
    height: auto;
}

.layer-accordion h4, .layer-accordion h5 {
color: #222;
text-transform: none;
font-size: 1em;}

/*Layer Navigation */
.layer-accordion ul li {line-height: 20px; height: auto !important; margin: 5px 0; overflow: hidden;}
.layer-accordion ul li:first-child {border-top:none; }
.layer-accordion ul li > a.accord-name {font-size: 1.2em; display: block;
position: relative; outline:none; border-bottom: 1px solid #ccc; padding: 10px 0; -webkit-transition:  color 0.2s ease-in-out;
-moz-transition:  color 0.2s ease-in-out; -o-transition:  color 0.2s ease-in-out; -ms-transition:  color 0.2s ease-in-out;
transition:  color 0.2s ease-in-out;}
.layer-accordion ul li > a.accord-name span {background: transparent url(../images/plus.png) no-repeat center center; text-indent:-9000px; width: 26px;
height: 14px; position: absolute; top: 50%; right: 10px; margin-top: -7px; opacity:1;filter: alpha(opacity=100);}
.layer-accordion .st-content {padding: 10px 0; border-bottom: 1px solid #ccc; margin-bottom: 15px;}
.layer-accordion ul li > a.accord-name:hover span {opacity:1;filter: alpha(opacity=100); right: 10px; }
.layer-accordion ul li.st-open > a.accord-name {}
.layer-accordion ul li.st-open > a.accord-name span {background: transparent url(../images/down.png) no-repeat center center; right:10px; opacity:1;filter: alpha(opacity=100);}
.layer-accordion {padding-top: 15px;}
.layer-accordion p {font-size:  0.85em; line-height:  28px; }
.layer-accordion h4, .layer-accordion h5 {text-transform: none; font-size: 1em;} 
.layer-accordion h5 {font-size:0.9em;}

@media screen and (max-width: 320px){
 .layer-accordion ul li > a.accord-name {font-size:36px;}
}

.morecontent p, .morecontent h5 {font-size: 1em;}

ol.cms-menu > li.parent > a:first-child {font-family: "PT Sans", sans-serif;font-size:16px;}
ol.cms-menu {font-size:0.9em;color:#0E2A5E;}
.std dt {font-family:"PT Sans", sans-serif; color:#0E2A5E;}


/* cms page accordian */
#accordion h2 {color:#fff;}
#accordion h3 {border-bottom:1px solid #ccc;}
#accordion h2 {background:#0E2A5E;border-bottom:1px solid #fff;}
#accordion .tabs-accor-in {background:#fff;}
#accordion .accordion-in-in {border-bottom:1px solid #ccc;}

.scrollToTop { background: #00285e; }

#brand-owl-slider .owl-carousel .owl-item {background-color:#f4f4f4;overflow:hidden;border-left:1px solid #e1e1e1;}
#brand-owl-slider.owl-wrapper-outer {border-right:1px solid #e1e1e1;}
.slideshow-prev:hover:before,
.slideshow-next:hover:before,
.slideshow-next:before,
.slideshow-prev:before,
.jcarousel-prev:before,
.jcarousel-next:before {color:#00285e ;}


.shopfinder-list p.tel strong,
.shopfinder-list p.email strong  {color:#0e2a5e;font-family: "PT Sans",arial,sans-serif;}
.shop-open-times h3,
h3.address {font-weight:bold;font-size:0.9em;}

p.c5-expired {color:#00285e;}
ul.article-links {margin-bottom:0;}
.article-links li {text-align:center;color:#e0dbcf;font-weight:bold}
.article-links a {color:#e0dbcf;width:100%;height:100%;display:inline-block;}
.article-links a span {display:inline-block;bottom:10px;position:absolute;left:0;right:0;}

.article-links-1 {background:#fff url(../images/q1.png) no-repeat center top;position:relative;background-size:contain;height:160px;border:1px solid #dbdbdb;}
.article-links-2 {background:#fff url(../images/q2.png) no-repeat center top;position:relative;background-size:contain;height:160px;border:1px solid #dbdbdb;}
.article-links-3 {background:#fff url(../images/q3.png) no-repeat center top;position:relative;background-size:contain;height:160px;border:1px solid #dbdbdb;}
.article-links-4 {background:#fff url(../images/q4.png) no-repeat center top;position:relative;background-size:contain;height:160px;border:1px solid #dbdbdb;}

.article-links-1:hover {background:#f6efe2 url(../images/q1-o.png) no-repeat center top;position:relative;background-size:contain;}
.article-links-2:hover {background:#f6efe2 url(../images/q2-o.png) no-repeat center top;position:relative;background-size:contain;}
.article-links-3:hover {background:#f6efe2 url(../images/q3-o.png) no-repeat center top;position:relative;background-size:contain;}
.article-links-4:hover {background:#f6efe2 url(../images/q4-o.png) no-repeat center top;position:relative;background-size:contain;}
.article-links-1:hover a,
.article-links-2:hover a,
.article-links-3:hover a,
.article-links-4:hover a {color:#a69d8b;text-decoration:none;}


.homepage-slideshow { display: block; }
.mob-homepage-slideshow { display: none; }
.desktop-top-banner { display: block; }
.mobile-top-banner { display: none; }

.desktop-top-banner .copy-positioner .body-holder p img { width: 23% !important; }

@media only screen and (max-width: 1550px) {
    .homepage-full-span .slideshow-container .body-holder { width: 48%; }
}

@media only screen and (max-width: 1024px) {
    #upsell-product-table .view-prod,
    .products-grid .actions .view-prod,
    .products-list .view-prod{
        background: #00285e;
        color: #fff;
        border: 1px solid #00285e;
    }
	
  	.side-promo-content h5 {font-size:1.2em;}
	.side-promo-content p {font-size:13px;line-height:1.3;}
	.homepage-full-span .slideshow .copy-container {padding:10px 0 0 23px;}
	.homepage-full-span .slideshow .title {font-size:36px;}
	.homepage-full-span .slideshow h2.title {margin-bottom:0;}
	.homepage-full-span .slideshow .body {font-size:14px;line-height:18px;font-weight:normal;} 
	.homepage-full-span.blue .slideshow .title {font-size:22px;line-height:24px;}
	.homepage-full-span.blue .slideshow .body {font-size:14px;line-height:16px;}
	.homepage-full-span.blue .slideshow .bottom .text {font-size:18px;}
	.homepage-full-span.blue .slideshow .bottom {padding:10px 0;}
	.homepage-full-span .slideshow-container .body-holder {width:60%;}
	.homepage-full-span .slideshow-container .body-holder h2 {font-size:24px;margin-bottom:0.5em;line-height:24px;}
	.homepage-full-span .slideshow-container .body-holder p {font-size:14px;line-height:16px;margin:0 0 10px;}
	.homepage-full-span .slideshow-container .body-holder ul.check li {font-size:14px;line-height:16px;}
	.homepage-full-span .body-holder ul.check {margin-bottom: 0.5em;}
  .mobile-top-banner .copy-positioner .body-holder p img { width: 22% !important; }
  .header-full-width .header-container .logo { width: 20%; }    
}
@media only screen and (max-width: 960px) {
    /*Category List - Filter*/
    .mm-menu > .mm-panel.block-layered-nav .block-title,
    #sortby-filters label{
        background-color: #00285e;
    }

    /*Category page*/
    .sidebar .block.block-compare .block-title > strong,
    .block-viewed .block-title span {
        font-size: 21px;
     }

	.dr-testimonials h3 {font-size:22px;}
	.topbannertext .fa-3x { font-size:2em !important;}
	.dr-testimonials p {font-size:13px;}
	.side-promo .body-holder h2 {font-size:16px;line-height:1.2em;}

    .slideshow-container .body-holder,
    .side-promo .body-holder {position:relative;padding:10px 0;width:100%;clear:both;left:0;pointer-events:all;}
    .homepage-full-span.white .slideshow .copy-holder { position: relative; }
    .homepage-full-span.white .slideshow .body { width: 100%; }
    .homepage-full-span.white .slideshow > li img { display: none; }
    .homepage-full-span.white .slideshow .btn { padding: 0 0 10px;}  
    .homepage-full-span .slideshow-container .body-holder { width: 92%; padding: 0; margin: 0;}
    .homepage-full-span .copy-positioner {position:relative;padding:10px 0 0 0;pointer-events:all;}    
    .mobile-top-banner { background: #7ca0d2; padding-bottom: 20px; } 
    .slideshow-container .mobile-top-banner .copy-positioner .body-holder { background: none; }
    .desktop-top-banner { display: none; }
    .mobile-top-banner { display: block; }
    .header-full-width .header-container .logo { width: auto; }  
	
}

@media only screen and (max-width: 900px) {
    .main-container .slideshow-container { width: 100%; }
    .main-container .slideshow-container { width: 100%; }
    .main-container .slideshow .body-holder img { display: block; }
    .main-container .slideshow .body-holder { width: 65%; }  

    .mob-homepage-slideshow ul.slideshow { height: 377px; overflow: hidden; }
    .mob-homepage-slideshow .slideshow .body-holder { height: auto; display: inline-table; }
    .mob-homepage-slideshow .p-single.slide-promo { width: 100%; padding: 0; }
    .homepage-slideshow { display: none; }
    .mob-homepage-slideshow { display: block; }
    .home-side-block { display: none; }

    .mob-homepage-slideshow .side-promo-wrapper { width: 100%; padding: 0; }
    .main-container .mob-homepage-slideshow .side-promo-wrapper img { width: 100% !important; }

    .main-container .mob-homepage-slideshow .slideshow .body-holder img, .main-container .mob-homepage-slideshow .side-promo .body-holder img { width: 46% !important; }    
}

@media only screen and (max-width: 817px) {
.small-12 .side-promo.tp-fix .body-holder  {width:100%;}
}

@media only screen and (max-width: 770px) {
	.two-block .view-prod, .side-promo .viewprod  {padding: 2px 8px;margin-top:5px;}
	.two-block.side-promo .body-holder h3 {font-size:1.1em;}
	.two-block.side-promo .pricing, .one-block.side-promo .pricing {margin:0;font-size:12px;}
	.two-block.side-promo .side-promo h3, .one-block.side-promo  h3 {font-size: 14px;}
	.side-promo-large .readmore, .side-promo-small .readmore  {font-size: 14px;}
	.dr-testimonials h3 {font-size: 22px;}
	.dr-testimonials p {font-size:14px;margin-bottom:0;}
	.side-logos {padding-left:0;margin-top:20px;}
	.article_2block .image {clear:right;}
	.article_2block .text {width:100%;padding:15px 0;}
	.side-promo  p {font-size:12px;}
    .two-block.side-promo .body-holder { position:relative;padding:10px 0;pointer-events:all;}
	.side-promo-content p {display:none;}
	.homepage-full-span .slideshow .title {font-size:24px;}
	.homepage-full-span.blue .slideshow .bottom {position:relative;background:transparent;font-size: 14px;}
	.homepage-full-span.blue .slideshow .price {font-size: 14px;margin-bottom:5px;}
	.homepage-full-span.blue .slideshow .price .old {padding:0 5px 0 0;float:left;font-size: 14px;}
	.homepage-full-span.blue .slideshow .bottom .text {padding:0;font-size: 14px;}
	.homepage-full-span.blue .slideshow .bottom .btn {font-size:12px;line-height:14px;}
	.homepage-full-span.blue .slideshow .bottom .large-10 {width:75%;}
	.homepage-full-span.blue .slideshow .bottom .large-2 {width:25%;}
	.dr-testimonials .topbannertext {width:100%;position:relative;}
	.dr-testimonials img {height:0;}
	.homepage-full-span.blue .slideshow .price {width:100%;}
	.homepage-full-span.blue .slideshow .body {display:none;}
	.homepage-full-span.blue .slideshow .price {width:90%;}	

    .mob-homepage-slideshow ul.slideshow { height: 329px; }  
    .homepage-full-span .slideshow-container .mobile-top-banner .body-holder h2 { font-size: 20px; margin-bottom: 0.2em; }
    .slideshow-container .mobile-top-banner .copy-positioner .body-holder p { font-size: 15px; margin: 0 0 10px 0; line-height: 18px; }
    .homepage-full-span .slideshow .btn { font-size: 12px; }
	.cms-page-view .one-block.side-promo .body-holder {top:60%;}
}

@media only screen and (max-width: 680px) {
    .mob-homepage-slideshow ul.slideshow { height: 309px; }
}

@media only screen and (max-width: 641px) {
    .side-promo-large  {margin-top:20px;background:#f6efe2;padding:20px;text-align:center;left:0}
    .side-promo-large h3 {font-size:18px;}
    .two-block.side-promo {width:48%;float:left;margin:0 1%;}
	.cms-index-index .one-block.side-promo img {width:30%;clear:none;float:left;padding-left:0;margin-right:2%;margin-bottom:20px;position:absolute;clip:rect(0,350px,150px,0);}
	.cms-index-index .one-block.side-promo .body-holder  {position:relative;width:68%;clear:none;float:right;min-height:150px;pointer-events:all;}
	.two-block.side-promo {padding-left:0;}
	.cms-index-index .one-block.side-promo {padding:0;}
	.article-links-2 {height:180px;}
	.row.main-container .one-block.side-promo {margin-top:20px;}
    .row.main-container .one-block .side-promo-content {width:68%;float:left;top:0;left:0;margin-bottom:20px;position:relative;}
	.row.main-container .one-block img {float:right;width:28%;}
    .slideshow-prev:before, .slideshow-next:before { margin-top: -70px; }
	.testimonial.readmore {margin-top:0;}
    .one-testimonial-owl-slider {padding-bottom:0;}

    .mob-homepage-slideshow ul.slideshow { height: 217px; }  
	.small-12 .side-promo.tp-fix .body-holder {bottom:auto;top:40%;}
    .mob-homepage-slideshow ul.slideshow { height: 217px; }

}

@media only screen and (max-width: 550px){ 
    .mob-homepage-slideshow ul.slideshow { height: 217px; }    
}


@media only screen and (max-width: 480px){
    /*Category page*/
	 ul.dr-testimonials {margin-bottom:0;}
	 ul.dr-testimonials li img {height:0;width:0;opacity:0;filter: alpha(opacity=0);}
	.dr-testimonials .topbannertext:after {border:none;}
	.dr-testimonials .topbannertext {width:100%;position:relative;pointer-events:all;}
	.dr-testimonials img {height:0;}
	.dr-testimonials h3 {font-size:20px;}
	.side-promo-content p {display:block;font-size:15px;line-height:1.4;}
	.row.main-container .one-block.columns {padding-left:0;padding-right:0;margin-top:20px;}
	.side-promo-content h5 {font-size:1.4em;}
	.homepage-full-span .slideshow .copy-container {padding:0;}
	.homepage-full-span .slideshow h2.title {margin-bottom:10px;}
	.homepage-full-span .slideshow .title {font-size:14px;font-weight:bold;}
	.article_2block .large-block-grid-2 > li { width: 100% !important;height:auto !important; }
	.homepage-full-span.promo .wide-home {padding:0;}
	.homepage-full-span.promo {background:#fff;}
	.slideshow-container .body-holder,
	.side-promo .body-holder {position:relative;padding:10px 0;width:100%;clear:both;left:0;pointer-events:all;}
	.slideshow-container .body-holder h3, .slideshow-container .body-holder h2 { font-size:20px;}
	.article_2block li:first-child {padding:0 !important;}
	.article_2block .small-block-grid-2 > li:nth-child(2n) {padding-left:0;}

    .mob-homepage-slideshow ul.slideshow { height: 191px; }
    .mob-homepage-slideshow .slideshow .view-prod { display: none; }

}
@media only screen and (max-width: 479px) {
	.homepage-full-span .copy-positioner {position:relative !important;padding:10px 0 0 0;}
	.two-block.side-promo {width:100%;float:none;margin:0 0 20px 0;}
	 .two-block.side-promo img {width:100%;}
	 .two-block.side-promo .body-holder {position:absolute;bottom:10%;}
	 .cms-index-index .one-block.side-promo img {width:100%;clear:none;float:none;padding-left:0;margin-right:0;margin-bottom:0;position:relative;clip:rect( );pointer-events:all;}
	 .cms-index-index .one-block.side-promo .body-holder  {position:absolute;width:100%;clear:none;float:none;min-height:0;height:auto;}
	 .cms-index-index .one-block.side-promo {position:static;}
	 .cms-index-index .one-block.side-promo .body-holder {top:30%;}
	 .two-block .side-promo {margin-bottom:20px;}
	 .homepage-full-span.promo  {margin-bottom:0;}



    .homepage-full-span .slideshow-container .mobile-top-banner .body-holder h2 { font-size: 17px; margin-bottom: 0.1em; }
    .slideshow-container .mobile-top-banner .copy-positioner .body-holder p { font-size: 12px; margin: 0 0 5px 0; line-height: 14px; }
    .homepage-full-span .slideshow .btn { font-size: 10px; }     
    .homepage-full-span .new-label { top: 0 !important; }
}

@media only screen and (max-width: 479px) and (min-width: 321px) {
	  .two-block.side-promo {width:100%;float:none;margin:0;}	
}

@media only screen and (max-width: 320px)  {
.cms-index-index .one-block.side-promo {width:100%;}
.homepage-full-span.blue .slideshow .title { font-size: 18px;line-height: 18px;padding:0;}
.homepage-full-span.blue .slideshow .body { font-size: 12px;line-height: 14px;padding: 5px 0;}
.homepage-full-span.blue .slideshow .price {width:100%;}
.homepage-full-span.blue .slideshow .text {padding:10px 0 0;}
.article_2block .image {width:100%;}
.mob-homepage-slideshow ul.slideshow { height: 131px; }
}


/* IE8 */

.homepage-full-span.blue .slideshow .bottom,
.row.main-container .one-block.side-promo .body-holder,
.row.main-container .two-block.side-promo .body-holder,
.two-block.side-promo .body-holder,
.one-block.side-promo .body-holder,
.homepage-full-span .slideshow-container .body-holder,
.slideshow-container .body-holder,
.col-left .block-content .content-text,
.chef-recom  {background:url(../../default/images/white-85.png)\9;}