/* basic brand colors */
.std .color-brand, .std a.color-brand:hover {color:#ed1c24;}
.std .color-brand-2, .std a.color-brand-2:hover {color:#41aeef;}
.std .bg-brand {background:#ed1c24;}
.std .bg-brand-2 {background:#41aeef;}
.std ul.bullet_check > li:before {color:#ed1c24;}
.std .bullet_circle > li:before, .std .image_tooltips li:before, .std .image_tooltips li span, .std .img_nmb, .std .bullet_square > li:before, .std .img_nmb_square {background:#ed1c24; color:#FFF; font-family:"Roboto Condensed", Arial, sans-serif;} 
.std .tooltip_icon:before {background:#ed1c24; color:#FFF;}

/* video links */
.std .video_link:before, .std .video_box_link div:before, .std .video_box_link span:before {color:#ed1c24;}

/* tooltipster */ 
.tooltipster-sidetip .tooltipster-box {border-color:#ed1c24;}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {border-bottom-color:#ed1c24;}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {border-left-color:#ed1c24;}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {border-right-color:#ed1c24;}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {border-top-color:#ed1c24;}

/*Red*/
.home-page-keyvisual .sl_red .description h6, .home-page-keyvisual .sl_red .sl-description .sl-description-text {background-color:#ed1c24;}
.home-page-keyvisual .sl_red .sl-description .sl-description-link {background-color:#bb1720;}

/*Orange*/
.home-page-keyvisual .sl_orange .description h6, .home-page-keyvisual .sl_orange .sl-description .sl-description-text {background-color:#f0932a;}
.home-page-keyvisual .sl_orange .sl-description .sl-description-link {background-color:#db8729;}

/*Pink*/
.home-page-keyvisual .sl_pink .description h6, .home-page-keyvisual .sl_pink .sl-description .sl-description-text {background-color:#f05283;}
.home-page-keyvisual .sl_pink .sl-description .sl-description-link {background-color:#cf4771;}

/*Green*/
.home-page-keyvisual .sl_green .description h6, .home-page-keyvisual .sl_green .sl-description .sl-description-text {background-color:#8fc21c;}
.home-page-keyvisual .sl_green .sl-description .sl-description-link {background-color:#749d17;}

/*Grey*/
.home-page-keyvisual .sl_grey .description h6, .home-page-keyvisual .sl_grey .sl-description .sl-description-text {background-color:#f4f4f4; color:#222222;}
.home-page-keyvisual .sl_grey .sl-description .sl-description-link {background-color:#e1e1e1;}

/*Blue*/
.home-page-keyvisual .sl_blue .description h6, .home-page-keyvisual .sl_blue .sl-description .sl-description-text {background-color:#41AEEF;}
.home-page-keyvisual .sl_blue .sl-description .sl-description-link {background-color:#3691c7;}

/*Blue 2*/
.home-page-keyvisual .sl_blue2 .description h6, .home-page-keyvisual .sl_blue2 .sl-description .sl-description-text {background-color:#00a5b2;}
.home-page-keyvisual .sl_blue2 .sl-description .sl-description-link {background-color:#008f9b;}

/*Blue 3*/
.home-page-keyvisual .sl_blue3 .description h6, .home-page-keyvisual .sl_blue3 .sl-description .sl-description-text {background-color:#3078c0;}
.home-page-keyvisual .sl_blue3 .sl-description .sl-description-link {background-color:#2864a0;}
/*Home Page Keyvisual - END*/

/*Structure*/
.footer-before-container {margin:0 auto; max-width:1260px; padding:0 30px;}
/*Structure*/

/* brand pages */
	.image-left {float:left; padding:0.3em 0.5em 0.5em 0;}
	.image-right {float:right; padding:0.3em 0 0.5em 0.5em;}
	.brand-page-main #recommended-products-carousel .owl-carousel, .brand-page-main #widget-viewed-products-carousel .owl-carousel, .brand-page-main #popular-products-carousel .owl-carousel, .brand-page-main #tv-products-carousel .owl-carousel, .brand-page-main #new-products-carousel .owl-carousel, .brand-page-main #special_offer-products-carousel .owl-carousel, .brand-page-main #-products-carousel .owl-carousel {margin:0 -1.6%; width:100%;}
	.brand-page-keyvisual {overflow:hidden; margin-bottom:15px;}
	.brand-page-sidebanner .new-label.large {font-size:26px; padding:10px 10px;}
	.brand-page-slideshow .new-label.large {font-size:26px; padding:10px 10px;}
	.brand-page-slideshow {margin-bottom:-1px;}
	.brand-page-slideshow ul {list-style-type:none; margin:0; padding:0;}
	.brand-page-slideshow ul li {margin:0; padding:0; width:100%; height:auto; display:none;}
	.brand-page-slideshow ul li:nth-child(2) {display:block;}
	.brand-page-slideshow .slideshow-pager {text-align:center; width:100%; left:0; margin-left:0px; top:auto; bottom:-2px; height:auto;}
	.cms-page-view .std .brand-page-slideshow li {margin:0;}
	.brand-page-sidebanner {margin-bottom:-1px; display:block;}
	.brand-page-sidebanner ul {margin:0; padding:0; list-style-type:none;}
	.brand-page-sidebanner ul li {margin:0; padding:0;}
	.cms-page-view .std .brand-page-sidebanner ul li {margin:0; padding:0;}
	.brand-page-sidebanner .sl_red {position:relative;}
	.brand-page-sidebanner .body-holder.medium h2 {font-size:24px;}
	.brand-page-sidebanner .body-holder.small h2 {font-size:20px;}
	.brand-slide-control {display:none;}
	.right-kv a img+img {display:none;}
	.brand-page-logo {width:50%; clear:both; padding:0 0 10px 0;}
	.cms-page-view .std .brand-page-logo img {max-width:100%; width:auto;}	
	.side-promo-benefits {background:#f4f4f4; padding:1em;}
	.side-promo-benefits h2 {font-size:24px;}
	.side-promo-benefits .img-content {width:33%;}	
	.row.collapse.brand-pages div+div.column {padding-left:0.9375em;}
	.side-promo-banners {position:relative; margin-top:15px;}
	.footer-promo-banners {position:relative;}

	.brand-testimonial .author {font-weight:bold;}
	.brand-testimonial p {padding:10px;background:#fff;color:#222;position:relative;display:block;font-size:14px;margin-bottom:1em;line-height:20px;}
	.brand-testimonial p:after {top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width:10px; margin-left: -10px;}
	.brand-testimonial .fa-quote-right {margin-left:.3em;}
	.brand-testimonial {padding:10px; color:#fff;}
	.brand-testimonial h3 {color:#fff;line-height: 1.2;}	
	
	.sl-description .sl-description-text {height:auto; padding:10px 15px 20px 15px;}
	.sl-description .sl-description-link {height:auto;}
	
	.small-block {position:relative; margin-bottom:14px;}
	.small-block .sl-description {left:50%; width:50%;}
	.small-block .sl-description .sl-description-text {background-color:#3078c0; width:100%; display:block; top:0; right:0 ;padding:8px 15px; height:80px;}
	.small-block .sl-description .sl-description-link {width:100%; display:block; background-color:#2864a0; bottom:0; right:0; height:80px; padding-top:33px;}
	.cms-page-view .std .small-block img {vertical-align: bottom;}
	
	.col-main .brand-footer {display:none;}
	.brand-footer {overflow:hidden; border-top:1px solid #DBDBDB; padding-top:10px;}
	.brand-footer li {padding-bottom:0;}			
/* brand pages */

/* home right nav */
.home-right-nav-table {display:table; width:100%; text-decoration:none;}
.home-right-nav-table:hover {text-decoration:none;}
.home-right-nav-table:hover .home-right-nav-text, .home-right-nav-table:hover .home-right-nav-title {text-decoration:none;}
.cms-index-index .std a.home-right-nav-table:hover {text-decoration:none;}
.cms-index-index .std a.home-right-nav-table:hover .home-right-nav-text, .cms-index-index .std a.home-right-nav-table:hover .home-right-nav-title {text-decoration:none;}
.home-right-nav-row {display:table-row;}
.home-right-nav-cell {display:table-cell; vertical-align:middle;}
.home-right-nav-cell img {width:100%;}
.home-right-nav-cell+.home-right-nav-cell {background-color:#41aeef; padding:5px 10px;}
.home-right-nav-cell:first-child {width:35%;}
.home-right-nav-cell:last-child {width:40px; background-color:#0095da; padding:0; text-align:center; color:#ffffff;}
.home-right-nav-text {font-size:12px; line-height:1.2; color:#ffffff; font-family:'Roboto Condensed', arial, sans-serif; margin:0; padding:0; display:block;}
.home-right-nav-title {font-size:20px; line-height:1.2; font-weight:normal; color:#ffffff; font-family:'Roboto Condensed', arial, sans-serif; margin:0; padding:0; display:block;}
.home_right_nav.columns  {padding-right:0px;}
/* home right nav */

/*Checkout-Main-Message*/
.checkout-main-message .cmm-content h2:before {color:#41AEEF;}
/*Checkout-Main-Message - END*/

/*Brand-Side-Benefits*/
.brand-side-benefits {background-color:#f4f4f4; margin-bottom:2em;}
.brand-side-benefits .brand-side-benefits-content {padding:1em;}
.brand-side-benefits .bsbc-box {margin-top:1em; border-top:solid 1px #dbdbdb; display:table;}
.brand-side-benefits .bsbc-box:first-child {border-top:none; margin-top:0px;}
.brand-side-benefits .bsbc-box .bsbc-box-img {width:40%; padding-top:1em; display:table-cell; text-align:left; vertical-align:top;}
.brand-side-benefits .bsbc-box:first-child .bsbc-box-img {padding-top:0px;}
.brand-side-benefits .bsbc-box .bsbc-box-txt {width:60%; padding-top:1em; display:table-cell; text-align:left; vertical-align:middle;}
.brand-side-benefits .bsbc-box:first-child .bsbc-box-txt {padding-top:0px;}
.brand-side-benefits.hor-layout .bsbc-box {display:block;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-img {width:auto; display:block; padding-bottom:0.5em;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-img img {width:60%; display:block; margin:0 auto;}
.brand-side-benefits.hor-layout .bsbc-box div:first-child {padding-right:0px;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-txt {width:auto; display:block; text-align:center; padding-bottom:0.5em;}
.brand-side-benefits .bsbc-box h3 {margin:0px; padding:0 0 0.5em 0; color:#000000; font-size:18px; line-height:1.2em; font-weight:normal; font-family:'Roboto Condensed', Arial, sans-serif;}
.brand-side-benefits .bsbc-box p {margin:0px; padding:0px; color:#000000; font-size:14px; line-height:1.2em; font-weight:normal;}
.brand-side-benefits .bsbc-box div:first-child {padding-right:1em;}
/*Brand-Side-Benefits - End*/

/*Brand-Side-Award*/
.brand-side-award {background-color:#f4f4f4; margin-bottom:2em; padding:5px; text-align:center;}
.brand-side-award .bsa-border-1 {border:3px solid #FFFFFF; padding:2px;}
.brand-side-award .bsa-border-2 {border:2px solid #FFFFFF; padding:1em;}
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {margin:0px; padding:0 0 0.5em 0; color:#00397e; font-size:28px; line-height:1.2em; font-weight:normal; font-family:'Roboto Condensed', Arial, sans-serif; text-transform:uppercase;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {margin:0px; padding:0px; color:#000000; font-size:14px; line-height:1.2em; font-weight:normal;}
/*Brand-Side-Award - End*/

/*Brand-Side-Testimonial*/
.brand-side-testimonial {background-color:#f4f4f4; margin-bottom:2em; position:relative;}
.brand-side-testimonial .bst-box {position:absolute; left:4%; bottom:4%; right:4%; background:rgba(255,255,255,0.8); padding:1em; text-align:center;}
.brand-side-testimonial .bst-box h3 {margin:0px; padding:0 0 0.2em 0; color:#000000; font-size:14px; line-height:1.2em; font-weight:bold;}
.brand-side-testimonial .bst-box h4 {margin:0px; padding:0 0 1em 0; color:#000000; font-size:10px; line-height:1.2em; font-weight:bold;}
.brand-side-testimonial .bst-box p {margin:0px; padding:0px; color:#000000; font-size:14px; line-height:1.2em; font-weight:normal;}
.brand-side-testimonial .bst-img-wide {display:none;}
/*Brand-Side-Testimonial - End*/

/*OWL*/
.owl-theme .owl-controls .owl-buttons .owl-prev {left:-8px;}
.owl-theme .owl-controls .owl-buttons .owl-next {right:-8px;}
/*OWL - END*/

/* product prices */
.price-box, .club-five, .product-installments {font-family:'Roboto Condensed', Arial, sans-serif;}
.price-box .regular-price span, .price-box .special-price span {color:#41AEEF;}
.price-box .minimal-price-link {color:#41AEEF;}
.nav-dropdown-container .special-price {color:#41AEEF;}
.home-page-keyvisual .description .slider-prices {font-family:'Roboto Condensed', Arial, sans-serif;}
.home-page-keyvisual .description .slider-prices span.regular-price {color:#41AEEF;}
.home-page-keyvisual .description .slider-prices p.regular-price {color:#41AEEF;}
.home-page-keyvisual .description .slider-prices p.special-price {color:#41AEEF;}
.home-page-keyvisual .description .slider-prices p.special-text {font-family:'Roboto Condensed', Arial, sans-serif;}
.home-page-keyvisual .description .slider-prices p.special-note {font-family:'Roboto Condensed', Arial, sans-serif;}
.brand-page-sidebanner .slider-prices p.special-price {color:#41AEEF;}
.home-page-keyvisual .description .slider-prices p.dimension-price strong {color:#41AEEF;}
/* product prices */

.nav-primary li.level0.active {}

/*Slim Banner*/
.slim-banner-content h2 {color: #000000; font-family:"Roboto Condensed", sans-serif;}
.slim-banner-content h2 span {margin-bottom: 0.2em; padding: 0.2em 0.4em; color: #ffffff; font-size: 20px; display: inline-block;}
.slim-banner-content p {color: #000000;}
.slim-banner-content .readmore {color: #000000; font-family:"Roboto Condensed", sans-serif;}
/*Slim Banner - End*/

/*Banner Slim*/
.banner-slim .banner-slim-content a {font-weight:normal; font-family:"Roboto Condensed", sans-serif;}

/* Home fonts fix */
.topblocks  {list-style-type:none; }
.topblocks-content {overflow: hidden; background: #e1e1e1;position:absolute;bottom:0;left:0;width:100%;}
.topblocks .topblocks-content h5 {float:left;font-family: 'Roboto Condensed', arial, sans-serif;color: #222;font-weight: 500;font-size: 1.2em;width:65%;background: #f4f4f4;padding: 10px;margin-bottom: 0;text-align:center;}
.topblocks .topblocks-content .cathome-link a.readmore {text-transform:uppercase; font-size:14px; font-family: 'Roboto Condensed', arial, sans-serif;}
.topblocks .topblocks-content .cathome-link a.readmore .fa {font-size:13px;}
.topblocks .topblocks-content .cathome-link {float:left;width:35%;padding: 15px 0 0;text-align:center;}
.topblocks .topblocks-content button {margin-top:10px;}
.cathome .content a.readmore {text-transform:uppercase; font-size:14px; font-family: 'Roboto Condensed', arial, sans-serif;}
.cathome .content a.readmore .fa {font-size:13px;}

/*Popup Uni Wrapper*/
.popup-uni-wrapper h1, .popup-uni-wrapper h2, .popup-uni-wrapper h3, .popup-uni-wrapper h4, .popup-uni-wrapper h5, .popup-uni-wrapper h6, .popup-uni-wrapper a, .popup-uni-wrapper span {color:#ed1c24;}
/*Popup Uni Wrapper - END*/

/* Video Gallery */
.article_2large {}
.article_2large .content-block {width:100%; padding:10px 14px; position:absolute; left:0%; bottom:-1px; background:#f4f4f4;}
.article_2large .content-block h3 {color:#000000;}
.article_2large .content-block a {font-weight:normal; font-family:'Roboto Condensed', arial, sans-serif;}
/* Video Gallery - END*/

/* compare table */
.data-table-cell h2.product-name {font-size:16px; color:#222; font-family:'Roboto Condensed', arial ,sans-serif;}
.data-table-cell h2.product-name a:hover {color:#222;}
/* compare table */

/*Error 404*/
.error404 .main-options .option-box .option-box-des h3 {color:#ed1c24;}
/*Error 404 - End*/

/*Extended Warranty*/
.cart-table tbody tr.warranty-item-row td.product-cart-info {font-family:'Roboto Condensed',sans-serif;}
.warranty-name {font-family:'Roboto Condensed', arial, sans-serif;}
.extended-warranty-popup .readmore {font-family:'Roboto Condensed', arial, sans-serif;}
/*Extended Warranty - End*/

/*Uni Side Box*/
.uni-side-box .usb-picto {color:#FFFFFF; font-family:'Roboto Condensed', Arial, sans-serif; pointer-events:none;}
.uni-side-box .usb-content {display:table; padding:0; pointer-events:none;}
.uni-side-box .usb-content h3 {color:#FFFFFF; padding:0.4em 0 0 0}
.uni-side-box .usb-content p {color:#FFFFFF; padding:0.6em 0 0 0}
.uni-side-box .usb-content p a {color:#FFFFFF; font-family:'Roboto Condensed', Arial, sans-serif;}
.uni-side-box .usb-content a {color:#FFFFFF;}

.uni-side-box.sl_red .usb-picto, .uni-side-box.sl_red .usb-content-lft {background-color:#ed1c24;}
.uni-side-box.sl_red .usb-content-rght {background-color:#bb1720;}
.uni-side-box.sl_blue .usb-picto, .uni-side-box.sl_blue .usb-content-lft {background-color:#41AEEF;}
.uni-side-box.sl_blue .usb-content-rght {background-color:#3691c7;}
.uni-side-box.sl_orange .usb-picto, .uni-side-box.sl_orange .usb-content-lft {background-color:#f0932a;}
.uni-side-box.sl_orange .usb-content-rght {background-color:#db8729;}
.uni-side-box.sl_pink .usb-picto, .uni-side-box.sl_pink .usb-content-lft {background-color:#f05283;}
.uni-side-box.sl_pink .usb-content-rght {background-color:#cf4771;}
.uni-side-box.sl_blue2 .usb-picto, .uni-side-box.sl_blue2 .usb-content-lft {background-color:#00a5b2;}
.uni-side-box.sl_blue2 .usb-content-rght {background-color:#008f9b;}
.uni-side-box.sl_green .usb-picto, .uni-side-box.sl_green .usb-content-lft {background-color:#8fc21c;}
.uni-side-box.sl_green .usb-content-rght {background-color:#749d17;}
.uni-side-box.sl_blue3 .usb-picto, .uni-side-box.sl_blue3 .usb-content-lft {background-color:#3078c0;}
.uni-side-box.sl_blue3 .usb-content-rght {background-color:#2864a0;}
.uni-side-box.sl_grey .usb-picto, .uni-side-box.sl_grey .usb-content-lft {background-color:#f4f4f4;}
.uni-side-box.sl_grey .usb-content-rght {background-color:#e1e1e1;}
.uni-side-box.sl_grey .usb-content h3, .uni-side-box.sl_grey .usb-content p, .uni-side-box.sl_grey .usb-content p a, .uni-side-box.sl_grey .usb-content a, .uni-side-box.sl_grey .usb-picto {color:#222222;}
/*Uni Side Box - END*/

/*Side Banner Benefits*/
.side-box-benefits .usb-content {width:100%; position:relative; top:0; bottom:0; left:0; right:0; background-color:transparent; padding:0.6em; display:block; pointer-events:auto;}
.side-box-benefits .usb-content h3 {color:#000000; font-weight:normal;}
.side-box-benefits .usb-content p {color:#000000;}
.side-box-benefits .usb-content a {color:#000000; font-weight:normal; font-family:'Roboto Condensed', Arial, sans-serif;}

/*Recently Viewed Products Wide*/
.recently-viewed-items-wide {background-color:#ebebeb;}
.recently-viewed-items-wide .rviw-hd .rviw-hd-txt h6 {color:#222222; font-family:'Roboto Condensed', Arial, sans-serif;}
.recently-viewed-items-wide .rviw-content .product-hd p {font-family:'Roboto Condensed', Arial, sans-serif;}
/*Recently Viewed Products Wide - END*/

/*Product Title*/
.products-title .btn {text-transform: uppercase; font-size: 16px; float: right; padding-top:15px;}

/*Article Basic*/
.article-basic .article-basic-list .article-basic-box .article-basic-content .readmore {font-family:'Roboto Condensed', Arial, sans-serif;}
/*Article Basic - END*/

/*Cart TopBar*/
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb {background-color:#bb1720; color:#FFFFFF;}
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell {background: #ed1c24;}
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb:before {border-color: transparent transparent transparent #ed1c24;}
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb:after {border-color: transparent transparent transparent #bb1720;}
/*Cart TopBar - End*/

/*Cart Side Benefits*/
.cart-benefits .cart-benefits-box .icon:after {background-color:#41aeef;}
.cart-benefits .cart-benefits-box .text .title {font-family:'Roboto Condensed', Arial, sans-serif;}
/*Cart Side Benefits - End*/

/*k2c*/
.topshop .k2c_v3_slider_info {background-color:#ed1c24;}
/*k2c end*/

/*Promotional Popup*/
.vbox-promotional .popup-promotional .popup-promotional-des h1 span {color:#ed1c24;}
/*Promotional Popup - End*/

/* newsletter widget */
.newsletter-title {font-family:"Roboto Condensed", sans-serif;}
.newsletter-title i {color:#ed1c24;}
.newsletter-btn button {border:1px solid #ed1c24; background:#ed1c24;}
.newsletter-btn button:hover {background:#ed1c24; border:1px solid #ed1c24;}
.newsletter-widget #validate-newsletter-message.success {font-family:"Roboto Condensed", sans-serif;}
.newsletter-widget #validate-newsletter-message.success p {font-family:Arial, Helvetica, sans-serif;}
.newsletter-account-text p a {background-color:#ed1c24; border-color:#ed1c24;}
/* newsletter box - End */

/*Header Phone Number*/
.phone-mobile-box .txt {color:#000000;}
.phone-mobile-box span.phonesBox {color:#ffffff; background-color:#ed1c24;}
.phone-mobile-box span.phonesBox:after {color:#ed1c24;}
.mobileCartPhoneInner a {color:#ed1c24;}
.secure-header-middle .contact-info span.orderPhone, .secure-header-middle .contact-info span.infoPhone {color:#ed1c24;} 

/*Coupon Label Box*/
.coupon-label-box {background-color:#0497f7;}

/*Out Of Stock*/
.txt-out-of-stock {font-family: 'Roboto Condensed', sans-serif;}
.txt-only-10-left {font-family: 'Roboto Condensed', sans-serif;}
.out-of-stock-item-active .new-label,
.out-of-stock-licontent-active .new-label {opacity:1; filter:alpha(opacity=100); background-color:#b3dff9;}

/*PDP - Out Of Stock*/
.pdp-txt-out-of-stock {font-family: 'Roboto Condensed', sans-serif;}

/*Reviews Box*/
.reviews-box .reviews-box-content .reviews-box-more a {color: #000000; font-family:'Roboto Condensed', Arial, sans-serif; font-weight:normal; text-transform:uppercase;}

.leisureCalc .lesCalNum_txt strong {color:#ed1c24; font-weight:normal;}

/* Category Club5 */
.category-club5-gift .category-club5-gift-content .prices p.regularPrice {color:#222222; font-family:'Roboto Condensed', Arial, sans-serif;}
.category-club5-gift .category-club5-gift-content .prices p.yourPrice {color:#41aeef; font-family:'Roboto Condensed', Arial, sans-serif;}
.category-club5-gift .category-club5-gift-content .prices p.clubPrice {color:#222222;}
/* Category Club5 - End */

.quickview-produs .item-options-wrapper .item-options {font-size:14px; line-height:20px; font-family:'Roboto Condensed', Arial, sans-serif;}

/*Reviews CMS Widget*/
.reviews-default-widget .review-button:hover {background:#ed1c24; border: 1px solid #ed1c24;}
.reviews-default-widget .fieldset h4,
.reviews-default-widget .review-heading h2 {font-family:'Roboto Condensed', Arial, sans-serif;}

/*Promo Block Category*/
.category-promo-block .category-promo-block-content {}
.category-promo-block .category-promo-block-content h3 {color:#222222; font-family:'Roboto Condensed', Arial, sans-serif;}
.category-promo-block .category-promo-block-content p {color:#222222;}
.category-promo-block .category-promo-block-content a {color:#222222; font-family:'Roboto Condensed', Arial, sans-serif;}

#bottom-product-buy .buybox-name {font-family:'Roboto Condensed', Arial, sans-serif;}

/*store locator*/
.store-locator-box .btn-slb:hover {background-color: #ed1c24; border: 1px solid #ed1c24; color: #fff;}

/*Home Page Keyvisual*/
.home-page-keyvisual .description h2,
.home-page-keyvisual .home-page-sidebanner .description h2 {color:#222222;}
.home-page-keyvisual .description .slider-btn {background:#ed1c24; border:1px solid #ed1c24;}
/*Home Page Keyvisual - END*/

/*Mobile Renew HP*/
.js-hp-kv-slider .home-page-keyvisual .description p {color:#222222; font-family:'Roboto Condensed', Arial, sans-serif;}
/*Mobile Renew HP - END*/

/*Reviews HP Side*/
.reviews-hp-side .reviews-hp-side-title h6,
.reviews-hp-side .reviews-hp-side-hd h3,
.reviews-hp-side .reviews-hp-side-hd h3 a,
.reviews-hp-side .reviews-hp-side-more a {font-family:'Roboto Condensed', Arial, sans-serif;}

/* product lists */
.articles-subcategory .products-list li .li-content .read-more-lnk {font-family:'Roboto Condensed', Arial, sans-serif;}

/* product page */
.countdown-timer {color:#41aeef; font-family:'Roboto Condensed', sans-serif;}
.countdown-title {font-family:'Roboto Condensed', sans-serif;}
/* product page */

/*Content Category Videos*/
.content-category-videos .content-category-video .content-category-video-img:before {color:#ed1c24;}
.content-category-videos .content-category-video .content-category-video-info .content-category-video-info-btn span {color:#222222; font-weight:normal; font-family:'Roboto Condensed', Arial, sans-serif;}
.content-category-videos .content-category-video .content-category-video-info .content-category-video-info-btn > span:after {color:#222222;}

@media only screen and (min-width:1025px) {
/* brand pages */
.large-4.brand-page-sidebanner {width:32.11333%;}
/* brand pages */
}

@media only screen and (min-width:641px) {
/* brand pages */
.medium-4.brand-page-sidebanner {width:32.11333%;}
/* brand pages */
}

@media only screen and (max-width: 1200px) {
/*Brand-Side-Benefits*/
.brand-side-benefits .bsbc-box h3 {font-size:16px;}
.brand-side-benefits .bsbc-box p {font-size:12px;}
/*Brand-Side-Benefits - End*/

/*Brand-Side-Award*/
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {font-size:24px;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {font-size:12px;}
/*Brand-Side-Award - End*/

/*Brand-Side-Testimonial*/
.brand-side-testimonial .bst-box h3 {font-size:13px;}
.brand-side-testimonial .bst-box h4 {font-size:10px;}
.brand-side-testimonial .bst-box p {font-size:13px;}
/*Brand-Side-Testimonial - End*/
}

@media only screen and (max-width: 1100px) {
/* home right nav */
.home-right-nav-title {font-size:16px;}
.home-right-nav-cell:last-child {width:30px;}
/* home right nav */
}

@media only screen and (max-width: 1060px) {
/*Brand-Side-Benefits*/
.brand-side-benefits .bsbc-box h3 {font-size:14px;}
/*Brand-Side-Benefits - End*/

/*Brand-Side-Award*/
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {font-size:20px;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {font-size:12px;}
/*Brand-Side-Award - End*/
}

@media only screen and (max-width:1025px) {
/* brand pages */
.body-holder h2 {font-size:24px;}
.brand-page-sidebanner .body-holder.medium h2 {font-size:22px;}
.brand-page-sidebanner .body-holder.small h2 {font-size:18px;}	
.main-container .slideshow .body-holder {width:60%;}
.sl-description .sl-description-text p {font-size:13px; line-height:1.3;}
.brand-page-sidebanner .new-label.large {font-size:22px; padding:10px 10px;}
.brand-page-slideshow .new-label.large {font-size:22px; padding:10px 10px;}
/* brand pages */
}

@media only screen and (max-width:960px) {
.sticky-header {background:#ed1c24;}    
  
/* brand pages */
.footer-before-container .brand-footer {display:none;} 
.col-main .brand-footer {display:block;}
.brand-footer ul > li {padding-bottom:15px;}
.brand-footer .side-promo-outer .side-promo-text {}
.brand-footer ul > li:nth-child(4n+1) {padding-left:0; padding-right:0.703125em;}
.brand-footer ul > li:nth-child(4n+2) {padding-left:0.234375em; padding-right:0.468750em;}
.brand-footer ul > li:nth-child(4n+3) {padding-left:0.468750em; padding-right:0.234375em;}
.brand-footer ul > li:nth-child(4n) {padding-left:0.703125em; padding-right:0;}	
.brand-footer .side-promo-outer .side-promo-text p {font-size:12px;}		
/* brand pages */

#topbar-opcheckout {padding-bottom:0;}
.secure-header .logo-container {min-width:125px;}
}

@media only screen and (max-width:959px) {
/* home right nav */
.home-right-nav-cell:first-child {display:none;}
/* home right nav */
}

@media only screen and (max-width:925px) {
/*Uni Side Box*/	
.uni-side-box .usb-content {display:none;}	
.brand-page-main .uni-side-box .usb-content {display:table;}
/*Uni Side Box - END*/

/*Side Banner Benefits*/
.side-box-benefits .usb-content {display:block;}
}

@media only screen and (max-width:800px) {
/* brand pages */
.slider-prices p.special-price {font-size:22px; line-height:1.2; font-weight:bold; margin:2px 0 4px;}
.brand-page-sidebanner .slider-prices p.special-price {font-size:16px;}
.slider-prices p.special-text {font-size:22px; line-height:1.2; margin:0;}		
.brand-page-sidebanner {display:none;}
.right-kv a img:first-child {display:none;}
.right-kv a img+img {display:block;}
.medium-8.brand-page-slideshow {width:100%;}
.brand-pages div.medium-8:first-child {width:100%;}
.brand-pages div+div.medium-4 {width:100%;}
.row.collapse.brand-pages div.column+div.column {padding:0;}
.brand-page-main #recommended-products-carousel .owl-carousel, .brand-page-main #widget-viewed-products-carousel .owl-carousel, .brand-page-main #popular-products-carousel .owl-carousel, .brand-page-main #tv-products-carousel .owl-carousel, .brand-page-main #new-products-carousel .owl-carousel, .brand-page-main #special_offer-products-carousel .owl-carousel, .brand-page-main #-products-carousel .owl-carousel {margin:0 -1.6%; width:103.2%;}
.sl-description {display:table;}		
.side-promo-benefits {margin-top:15px;}
.side-promo-benefits-table {display:table;}
.side-promo-benefits-row {display:table-row;}
.side-promo-benefits-cell {display:table-cell; vertical-align:top;}
.side-promo-benefits-cell.img-content img {width:120px; height:auto;}
.side-promo-benefits-cell:first-child {width:120px; max-width:100%;}
.side-promo-banners {position:relative; margin-top:15px; width:49%; float:left; margin-left:2%;}
.side-promo-banners:nth-child(2n+1){margin-left:0;}
.side-promo-benefits~.side-promo-banners:nth-child(2n+0) {margin-left:0;}
.side-promo-benefits~.side-promo-banners:nth-child(2n+1) {margin-left:2%;}		
.side-promo-banners.testimonial {clear:both; width:100%;}		
.brand-testimonial p:after {left:20%;}
.brand-footer {margin-top:10px;}
.brand-footer ul > li {width:50%; padding-bottom:15px;}
.brand-footer ul > li:nth-child(4n+1) {padding-left:0; padding-right:0.703125em;}
.brand-footer ul > li:nth-child(4n+2) {padding-left:0.703125em; padding-right:0;}
.brand-footer ul > li:nth-child(4n+3) {padding-left:0; padding-right:0.703125em;}
.brand-footer ul > li:nth-child(4n) {padding-left:0.703125em; padding-right:0;}		
.brand-footer .side-promo-outer {position:absolute; bottom:-2px; min-height:0;}
.brand-footer .side-promo-outer .side-promo-text p {font-size:14px;}	
/* brand pages */
	
/*Brand-Side-Benefits*/
.brand-side-benefits {margin-top:2em;}
.brand-side-benefits .bsbc-box h3 {font-size:18px;}
.brand-side-benefits .bsbc-box p {font-size:14px;}
.brand-side-benefits .bsbc-box .bsbc-box-img {width:20%;}
.brand-side-benefits .bsbc-box .bsbc-box-txt {width:80%;}
.brand-side-benefits.hor-layout .bsbc-box {display:table;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-img {width:20%; padding-top:1em; padding-bottom:0px; display:table-cell; text-align:left; vertical-align:top;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-img img {width:100%; display:inherit; margin:auto;}
.brand-side-benefits.hor-layout .bsbc-box:first-child .bsbc-box-img {padding-top:0px;}
.brand-side-benefits.hor-layout .bsbc-box div:first-child {padding-right:1em;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-txt {width:80%; padding-top:1em; padding-bottom:0px; display:table-cell; text-align:left; vertical-align:middle;}
.brand-side-benefits.hor-layout .bsbc-box:first-child .bsbc-box-txt {padding-top:0px;}
/*Brand-Side-Benefits - End*/	

/*Brand-Side-Award*/
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {font-size:28px;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {font-size:16px;}
/*Brand-Side-Award - End*/	

/*Brand-Side-Testimonial*/
.brand-side-testimonial .bst-box {left:2%; right:2%;}
.brand-side-testimonial .bst-box h3 {font-size:14px;}
.brand-side-testimonial .bst-box h4 {font-size:10px;}
.brand-side-testimonial .bst-box p {font-size:14px;}
.brand-side-testimonial .bst-img-regular {display:none;}
.brand-side-testimonial .bst-img-wide {display:block;}
/*Brand-Side-Testimonial - End*/

/* Video Gallery */
.article_2large .content-block {position:relative; bottom:0px;}
/* Video Gallery - END*/

/*Uni Side Box*/
.brand-page-main .uni-side-box .usb-img-desktop {display:none;}
.brand-page-main .uni-side-box .usb-img-mobile {display:block;}
.brand-page-main .uni-side-box .usb-img-mobile img {height:100%;}
.brand-page-main .uni-side-box {width:49%; margin-left:2.5%; display:inline-block; margin-right: -4px;}
.brand-page-main .uni-side-box:nth-of-type(odd) {margin-left:0;}
.brand-page-main .uni-side-box[data-calculate-box-column="even"] {margin-left:0;}
.brand-page-main .uni-side-box[data-calculate-box-column="odd"] {margin-left:2.5%;}
.brand-page-main .uni-side-box[data-calculate-box-wide="true"] {width:100%; clear:both; margin-left:0;}
/*Uni Side Box - END*/
}

@media only screen and (max-width:770px) {
/*Slim Banner*/
.slim-banner-content h2 span {font-size: 16px;}
.slim-banner-content p {font-size: 12px;}
.slim-banner-content .readmore {font-size: 12px;}
/*Slim Banner - End*/ 

/*Side Banner Benefits*/
.side-box-benefits .usb-content {padding:0.3em;}
}

@media only screen and (max-width:768px) {
/* brand pages */
.brand-page-sidebanner {display:none;}
.medium-8.brand-page-slideshow {width:100%;}
/* brand pages */
}

@media only screen and (max-width:641px) {
/* brand pages */
.brand-footer .side-promo-outer .side-promo-text p {font-size:12px;}
/* brand pages */

/* home right nav */
.home_right_nav.columns {padding:0 8px;}
.home-right-nav-table {width:45%; float:left; margin:0 2.5% 20px 2.5%;}
.home-right-nav-table:nth-child(3) {clear:left;}
.home-right-nav-cell:first-child {display:table-cell;}
.home_right_nav a.home-right-nav-table+a.home-right-nav-table {margin:0 2.5% 20px 2.5%;}
/* home right nav */	
	
/*Brand-Side-Benefits*/
.brand-side-benefits .bsbc-box .bsbc-box-img {width:25%;}
.brand-side-benefits .bsbc-box .bsbc-box-txt {width:75%;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-img {width:25%;}
.brand-side-benefits.hor-layout .bsbc-box .bsbc-box-txt {width:75%;}
/*Brand-Side-Benefits - End*/

/*Brand-Side-Award*/
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {font-size:24px;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {font-size:14px;}
/*Brand-Side-Award - End*/

/*Header Phone Number*/
.phone-mobile-box span.phonesBox {background-color:transparent; color:#ed1c24;}
.phone-mobile-box span.phonesBox:before {color:#ed1c24;}
.phone-mobile-box span a {color:#ed1c24;}	
.phone-mobile-box span a:before {color:#ed1c24;}
}

@media only screen and (max-width:640px) {
/*Uni Side Box*/	
.uni-side-box .usb-content {display:table;}	
/*Uni Side Box - END*/

/*Side Banner Benefits*/
.side-box-benefits .usb-content {display:block; padding:0.6em;}
}

@media only screen and (max-width:599px) {
/*Extended Warranty*/
.cart-table tr.has-warranty td .warranty-holder .product-cart-info {font-family:'Roboto Condensed',sans-serif;}
/*Extended Warranty - End*/
}

@media only screen and (max-width:560px) {
/* home right nav */
.home-right-nav-title {font-size:14px;}
/* home right nav */
}

@media only screen and (max-width:520px) {
/* home right nav */
.home_right_nav.columns {padding:0 20px;}
.home-right-nav-table {width:100%; float:left; margin:0; margin-bottom:20px;}
.home-right-nav-cell:first-child {display:table-cell; width:30%;}
.home_right_nav a.home-right-nav-table+a.home-right-nav-table {margin:0; margin-bottom:20px;}
.home-right-nav-cell:last-child {width:40px;}
.home-right-nav-text p {font-size:13px;}
.home-right-nav-title {font-size:20px;}
/* home right nav */
}

@media only screen and (max-width:480px) {
/* brand pages */
.content-widget-title {font-size:22px;}
.cms-page-view .std .brand-page-logo ~ p {font-size:14px; line-height:1.3;}
.brand-page-slideshow .new-label.large {font-size:15px; padding:6px 7px;}
.body-holder h2 {font-size:18px;}
.side-promo-outer .side-promo-text p {font-size:12px; line-height:1.3;}	
.slider-prices p.special-price {font-size:18px; line-height:1.2; font-weight:bold; margin:2px 0 4px;}
.slider-prices p.special-text {font-size:18px; line-height:1.2; margin:0;}			
/* brand pages */
	
/*Brand-Side-Benefits*/
.brand-side-benefits .bsbc-box h3 {font-size:16px;}
.brand-side-benefits .bsbc-box p {font-size:12px;}
/*Brand-Side-Benefits - End*/		

/*Brand-Side-Award*/
.brand-side-award .bsa-border-1 .bsa-border-2 h3 {font-size:24px;}
.brand-side-award .bsa-border-1 .bsa-border-2 p {font-size:12px;}
/*Brand-Side-Award - End*/

/*Brand-Side-Testimonial*/
.brand-side-testimonial .bst-box {position:relative; left:auto; right:auto; bottom:auto; background:none;}
.brand-side-testimonial .bst-box h3 {font-size:14px;}
.brand-side-testimonial .bst-box h4 {font-size:10px;}
.brand-side-testimonial .bst-box p {font-size:14px;}
/*Brand-Side-Testimonial - End*/	

/*Uni Side Box*/
.brand-page-main .uni-side-box {width:100%; margin-left:0; display:block; margin-right:0; clear:both;}
.brand-page-main .uni-side-box .usb-content p {display:block;}
.brand-page-main .uni-side-box:nth-of-type(odd) {margin-left:0;}
.brand-page-main .uni-side-box[data-calculate-box-wide="true"] {width:100%; clear:both; margin-left:0;}
.brand-page-main .uni-side-box .usb-img-mobile img {height:auto; max-width:100%;}
/*Uni Side Box - END*/
    
#topbar-opcheckout ul li .topbar-box-tbl.active .topbar-box-cell-nmb {background-color:#ed1c24;}  
}

@media only screen and (max-width:380px) {
/* home right nav */
.home-right-nav-title {font-size:16px;}
.home-right-nav-cell:last-child {width:30px;}
/* home right nav */
}

@media only screen and (max-width:320px) {
/* brand pages */
.brand-page-slideshow .new-label.large {font-size:14px; padding:4px 7px;}
.side-promo-outer .side-promo-text p {font-size:12px; line-height:1.2;}
.side-promo-banners {position:relative; margin-top:15px; width:100%; float:none;}
.side-promo-banners.first {margin-left:0;}
.side-promo-banners.content {width:100%;}
.content~.side-promo-banners:nth-child(2n+0) {margin-left:0;}
.content~.side-promo-banners:nth-child(2n+1) {margin-left:2%;}
.side-promo-benefits~.side-promo-banners:nth-child(2n+0) {margin-left:0;}
.side-promo-benefits~.side-promo-banners:nth-child(2n+1) {margin-left:0;}					
/* brand pages */
}

/* IE8 FIXES */
@media \0screen {
/*Brand-Side-Testimonial*/
.brand-side-testimonial .bst-box {background-color:#FFFFFF;}
/*Brand-Side-Testimonial - End*/

/*Slim Banner*/
.slim-banner-content {top:6px;}
/*Slim Banner - End*/    
}