h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.magento_title,
#shopping-cart-totals-table tfoot tr td,
#sidebar-opcheckout .text .title,
#sidebar-opcheckout .block-title strong,
.opc .section .step-title h2,
.vbox-title,
.tootip-content .label-product,
.stootip-product-name {font-family: 'Roboto Condensed', arial, sans-serif;}

/*Color StyleGuide*/
.red      {color:#ed1c24;}
.blue     {color:#41AEEF;}/*price & pictogramme*/
.gray     {color:#444;}
.almost-black  {color:#222;}

.bk_red   {background: #ed1c24;}
.bk_blue  {background: #41AEEF;}

.bk_alt_red   {background: #bb1720;}
.bk_alt_blue  {background: #3691c7;}

.sl_red .sl-description .sl-description-text,
.sl_red .body-holder h5 a,
.sl_red .body-holder h5.no-a,
.sl_red .side-promo-outer .side-promo-text,
.slideshow-container .sl_red .body-holder h3,
.homepage-full-span .sl_red .side-promo-outer,
.sl_red.banner_brand_marketplace  {background: #ed1c24;}
.sl_red .sl-description .sl-description-link,
.sl_red .side-promo-outer .side-promo-link,
.sl_red .side-promo-outer,
.sl_red .sl-description {background: #bb1720;}


.sl_blue .sl-description .sl-description-text,
.sl_blue .body-holder h5 a,
.sl_blue .body-holder h5.no-a,
.sl_blue .side-promo-outer .side-promo-text,
.slideshow-container .sl_blue .body-holder h3,
.homepage-full-span .sl_blue .side-promo-outer,
.sl_blue.banner_brand_marketplace {background: #41AEEF;}
.sl_blue .sl-description .sl-description-link,
.sl_blue .side-promo-outer .side-promo-link,
.sl_blue .side-promo-outer,
.sl_blue .sl-description  {background: #3691c7 ;}

.sl_grey .sl-description .sl-description-text,
.sl_grey .body-holder h5 a,
.sl_grey .body-holder h5.no-a,
.sl_grey .side-promo-outer .side-promo-text,
.slideshow-container .sl_grey .body-holder h3,
.homepage-full-span .sl_grey .side-promo-outer,
.sl_grey.banner_brand_marketplace {background: #f4f4f4;}
.sl_grey .sl-description .sl-description-link,
.sl_grey .side-promo-outer .side-promo-link,
.sl_grey .side-promo-outer,
.sl_grey .sl-description  {background:#e1e1e1;}

.sl_grey, .sl_grey a,
.sl_grey .side-promo-outer .side-promo-text p,
.sl_grey .sl-description .sl-description-text,
.sl_grey .sl-description .sl-description-text p,
.sl_grey .side-promo-outer .side-promo-link em {color:#222 !important;}
 
/*-----------*/


.skip-links a  { color: #ed1c24; }

.block-progress dt:hover, .block-progress dt:active {background: #ed1c24; color:#fff;}
.buttons-set button.button:hover,
.buttons-set a.button:hover, .shopfinder-index-shop a.button:hover, shopfinder-index-index a.button:hover,
a.button:hover, .buttons-set button:hover, .buttons-set .button:hover, .cart-table .product-cart-actions .button:hover, #co-shipping-method-form .buttons-set .button:hover, .cms-page-view a.button:hover, .form-list button:hover, .addresses-additional .button:hover, .club5-membership .col-2 input.button:hover,.cart .buttons-set .button:hover,
.cart-table .button:hover,
.sidebar .actions .button:hover,
.button.button-secondary:hover,
.checkout-cart-index .discount-form button.button2,
.footer .block-subscribe .actions .button:hover,
.wishlist-index-index .buttons-set button.btn-share:hover,
.wishlist-index-index .buttons-set button.btn-update:hover,
.b-button:hover,
.newsletter-block .nb-btn .button:hover,
.account-club5-membership .col-2 .box-content input.button:hover {background:#ed1c24;color:#fff;border: 1px solid #ed1c24;cursor:pointer;}

.wishlist-index-index .buttons-set button.button:hover {border: 1px solid #5a8103;}


/* ============================================ *
 * Mobile Menu
 * ============================================ */ 
#mob-header-nav #nav .nav-primary .promo { background: #41AEEF;}
#mob-header-nav .nav-primary .promo:hover, #mob-header-nav .nav-primary li.level0.opened > a.promo { background: #cb161d; color: #fff; cursor: pointer; }

/* Promo and new tag for menu */
.new-main-menu { background: #555455; }
.new-main-menu:after { border-top-color: #555455;} 
#header-nav .nav-primary .promo { background: #41AEEF;color:#fff; }
#header-nav .nav-primary .promo:hover,
#header-nav .nav-primary .promo:hover a {background: #ebebeb;color:#222; border-right: none;}

.skip-links .skip-basket,
.skip-links .skip-search { border-left: 1px solid #cb161d;  } 

.button, .cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background: #82b80a;
}
.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    background: #5A8103; cursor: pointer;
}

.telephone-btn { background: #ED1C24; border: #ED1C24 1px solid; }
.body-container .title, .telephone-actions .close { color: #ED1C24; } 

.checkout-cart-index .header-full-width, .checkout-onepage-index .header-full-width { border-bottom: #ed1c24 solid 3px; }

#topbar-opcheckout ul li div.active { background: #ed1c24; }
#topbar-opcheckout ul li div.active:after { border-color: rgba(243, 124, 49, 0); border-top-color: #ed1c24; }

@media only screen and (max-width: 960px) {
  .header-full-width { background: #ed1c24 !important; }
  .checkout-cart-index .header-full-width, .checkout-onepage-index .header-full-width { background:#f4f4f4 !important; }

}

.nav-primary a {color:#222;}
.as-seen-tv .tv-options ul li:hover {background: #d5d5d5;}
.as-seen-tv .tv-options ul li:hover > a { color: #fff !important; }
.nav-primary li.level0 {background: #d5d5d5; border-right: 1px solid #bfbfbf;}
.nav-primary li.level0.active {background: #ebebeb; border-right: #bfbfbf 1px solid; }
.nav-primary li.level0.active:hover {background: #ebebeb; border-right: #bfbfbf 1px solid; }
.nav-primary li.level0 > a {background: #d5d5d5;}
.nav-primary li.level0:hover {background: #ebebeb;}
.cms-index-index .nav-primary li.level0.active > a {color:#222;background:#d5d5d5;}
.cms-index-index .nav-primary li.level0.active {border-right: 1px solid #bfbfbf;}

/* ============================================ *
 * Category Page
 * ============================================ */
/*Category landing page*/

.category-grid-content .shopcategories-content h2{
    font-size: 18px;
}

.category-grid li .shopcategories-content ul{
    margin: 0 0 20px 0;
}
.category-grid li.subcategory{
    border-bottom: 0;
}
.shopcategories-content {
    background: #f4f4f4;
}


.cathome .content {
    background: #f4f4f4;
    padding:15px;
	position:absolute;bottom:0;left:0;width:100%; 
}

.std .category_4block h3 {
    font-family: 'Roboto Condensed', arial, sans-serif;
	margin:0 0 5px;
    padding:0;
    text-transform: none;
    font-weight: 500;
    font-size:18px;
	line-height:24px;
}
.std .category_4block p {margin: 0 0 5px;
    font-family: 'Roboto Condensed', arial, sans-serif;
    line-height: 22px;
    font-size: 0.9em;}
.col-left .block-content .content-text{
    background: #e1e1e1;
    position: relative;
    width: 100%;
    padding: 0;
    height: auto;
    left: 0;
}
.col-left .block-content img{
    padding: 0;
    border-bottom: none;
}
.col-left .left-side-promo .content-text h3{
    display: table-cell;
    font-family: 'Roboto Condensed', arial, sans-serif;
    color: #222;
    font-weight: 500;
    font-size: 1.2em;
    width: 58%;
    background: #f4f4f4;
    padding: 10px 0px;
    margin-bottom: 0;
    text-align: center;
}
.col-left .left-side-promo .content-text a{
    text-transform: uppercase;
    font-size: 13px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 40%;
    padding-left: 7px;
}

/*Video list*/
.video-list-item {  }
.video-info {background: #f4f4f4; }
.video-info .action { font-weight: normal; }
.video-info .title { font-family: 'Roboto Condensed', arial, sans-serif; }

/*Category list*/
.products-grid .actions button {
    color: #222;
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.products-grid .product-name,
.products-list .product-name{
  font-size: 14px;
  font-family: 'Roboto Condensed', arial, sans-serif;
}

.products-grid a .product-name,
.products-list a .product-name {
  font-weight: 500;
  text-transform: none;
    color: #222;
    font-size: 18px;
	line-height:24px;
}


.products-grid a:hover h2.product-name,
.products-list a:hover h2.product-name {
	text-decoration:none;
}

/*Category Layer Navigation */
.col-left .block-content {
    margin-top:15px;
    font-size: 14px;
    position: relative;
}

.col-left .block-content img {position: relative;}
.col-left .block-content .content-text p {
    line-height: 1.5em;
}
.col-left .block-title {border-top: 0;}
.block-title h2, .block-title h3, .block-title strong{
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

#recently-viewed-items .product-name a {font-size: 18px;}

@media only screen and (min-width: 771px) {
.block-layered-nav .block-content > dl > dt {padding-left: 0px;}
}

/* Recommended Product Carousel*/
.widgeet-products-carousel .new-label {
    right:-1px;
}
li.promo-item .content h4{
    color: #222;
    font-family: 'Roboto Condensed', arial, sans-serif;
}

/* ============================================ *
 * Product Page
 * ============================================ */


/* -------------------------------------------- *
 * Upsell Products
 */
.box-up-sell .box-title h2 {
    text-transform: none;
    font-size: 20px;
    font-weight: 500;
}

#upsell-product-table .view-prod,
.products-grid .actions .view-prod,
.products-list .view-prod, .redboxdigital-quickview-index-index .product-btn .view-prod {
    background: #ed1c24;
    border: 1px solid #ed1c24;
    color:#FFF;
}

#upsell-product-table .view-product .link-compare,
.products-grid .add-to-links .link-compare,
.products-list .link-compare{
    text-decoration: underline;
}

/*Recent Viewed Products */
.block-viewed .block-title {
    border-top:0;
    padding: 10px 0;
    margin: 10px 0;
}
.block-viewed .block-title span {
    font-family: 'Roboto Condensed', arial, sans-serif;
    text-transform: none;
    font-size:22px;
}

/*Customer Reviews Product Page */
#customer-reviews .review-button:hover{
    background-color:#ed1c24;
    border-color: #ed1c24;
}

.tooltip_marker {background:#ed1c24;}

/* Chef Recommend / Testimonials */
.chef-recom h2  {color: #fff;text-transform: none;font-size: 1.3em;}
.chef-recom p  {
font-size: 25px;
font-weight: 500;
font-family: 'Roboto Condensed', arial, sans-serif;
}
.chef-recom .chef-view {text-transform: none;
color: #222;
font-family: 'Roboto Condensed', arial, sans-serif;
font-size: 14px;
border: 1px solid #ccc;
}


@media screen and (max-width: 320px){
.st-accordion ul li > a {font-size:36px;}
}


/*Layer Navigation */
.showmorediv {overflow: hidden; padding: 10px 0; border-bottom: 1px solid #dbdbdb; margin: 0 0 15px;}
#show {font-weight: bold; text-transform: uppercase; font-size: 0.75em; float: right;}

/*Layer Navigation */
.layer-accordion ul li {}
.layer-accordion ul li > a.accord-name {
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-size: 1.2em; }
.layer-accordion .st-content {border-bottom: 1px solid #dbdbdb;}
.layer-accordion h4, .layer-accordion h5 {
color: #222;
text-transform: none;
font-size: 1em;}
.layer-accordion h5 {font-size:0.9em;}

@media screen and (max-width: 320px){
  .layer-accordion ul li > a.accord-name {font-size:36px;}
}

.morecontent  { font-size: 0.85em;
    display: none;
}
#more {
  float: right;
margin-bottom: 20px;
text-transform: uppercase;
font-weight: bold;
font-size: 0.75em;
    display: block;
}
.morecontent p, .morecontent h5 {font-size: 1em;}
body.catalog-category-view .slideshow-pager {
    bottom: 2%;
    text-align: center;
}

/*Home page products*/
.you-tube-play {color:#ed1c24;}

.new-label {background:#41AEEF;}

.side-promo {position: relative; padding-right: 0 !important; }
.side-promo-outer-wrapper {}
.side-promo-outer {position:absolute;bottom:0;width:100%;}
.side-promo em.fa-facebook {color:#fff;width:20px;}

.side-promo-outer .side-promo-text {float:none;display:table-cell;vertical-align:middle;width:90%;padding:10px;line-height:1.3;}
.side-promo-outer .side-promo-link {text-align:center;padding:10px;line-height:1.3;width:1%;float:none;display:table-cell;vertical-align:middle;}

.campaign-email {background:#ed1c24;}
.campaign-email h2 {color:#fff;}
.campaign-email:after {border-left-color:#ed1c24;}
.campaign-email .view-prod {background:#ebebeb;border: 1px solid #e1e1e1;color:#222;font-size:14px;line-height:1.5;}
.campaign-email .view-prod:hover  {background:#ed1c24;border: 1px solid #ed1c24;color:#fff;}



.row.main-container .side-promo-outer .side-promo-text {width:70%;}
.row.main-container .side-promo-outer .side-promo-link {width:10%;white-space: nowrap;}

.row.main-container .side-promo .side-promo-outer .side-promo-text,
.row.main-container .side-promo .side-promo-outer .side-promo-link {height:84px;}
.side-promo-outer .side-promo-text p {font-size:14px;color:#fff;margin-bottom:0;}

.side-promo-outer .side-promo-link em {color:#fff;}.side-promo-outer .side-promo-link a.viewmore,
.side-promo-outer .side-promo-link a.readmore {font-size:14px;font-family: 'Roboto Condensed', arial, sans-serif;text-transform:uppercase;color:#fff;display:block;margin-top:0;line-height:0;}

.body-holder {position: absolute;top: 7%;left: 8%;width: 40%;}

.slideshow-pager {bottom:auto;height:10px;left:5%;margin:0;padding:0;top:2.5%;width:auto;}
.slideshow-pager span {border-radius: 50%; width:10px; height: 10px;margin-right: 5px;line-height: 10px;display: block;float: left;}
.slideshow-pager span:before {border-radius: 50%; width: 10px; height: 10px; background-color: #b0b0b0;left: 0%;top: 0%;}
.slideshow-pager span.cycle-pager-active:before {background-color: #222222;}
.slideshow-container {border: 0;}


.slideshow-prev:before,
.slideshow-next:before,
.jcarousel-prev:before,
.jcarousel-next:before {
     background: #ed1c24;
}

.body-holder {position: absolute; top: 3%; bottom: 3%; left: 3%; width:50%; padding: 10px;}
.body-holder h3 { font-weight: bold; font-size: 1.4em; line-height: 1em;color:#ed1c24;}
.body-holder p {font-family: 'Roboto Condensed', arial, sans-serif;font-size: 1.5em;font-weight:500;line-height:1.4;margin-top:10px;}

.tp-fix .body-holder {bottom: 0;left: 0;padding: 0;position: absolute;top:auto;width: 100%;font-weight: normal;}
.tp-fix .side-promo-outer h3.side-promo-text {font-size:14px;color:#fff;margin-bottom:0;font-family:Arial, Helvetica, sans-serif;font-weight:normal;}
.tp-fix .body-holder a .fa-arrow-right:before {margin-left:0;}
.tp-fix .body-holder a.readmore span {display:none;}

.homepage-full-span .side-promo-inner {max-width:1200px;margin:0 auto;}
.slideshow-container .body-holder h3 {font-size: 2em;color:#fff;padding:10px;display:inline-block;clear:both;}
.slideshow-container .body-holder {padding: 20px; width:50%;}
.slideshow-container .copy-positioner .body-holder { display: inline-table; margin: 45px 0 0 7px; left: 23px; }

.view-now { background: #ebebeb; padding: 8px 18px; border-radius: 5px; border: 1px solid #e1e1e1; font-size: 14px; }
.view-now:hover { background: #ed1c24; color: #fff; text-decoration: none; }

.club-price img { width: 16px !important; height: 18px; }

/* Two block code for header banner */
.two-block.side-promo {padding-right: 0 !important;margin-bottom:16px;}
.two-block.side-promo img {width:100%;}
.two-block.side-promo .pricing {color: #75a608; font-weight: 600; margin: 0 0 13px 0;}
.two-block .view-prod {background: #ebebeb; padding: 5px 10px; border-radius: 5px; border: 1px solid #e1e1e1; 
font-size: 14px;}
.two-block .view-prod:hover {background: #ed1c24 !important; color: #fff !important; border:0 !important; font-weight: 600; text-decoration: none;}
.row.main-container .two-block.side-promo {float: right;}
.two-block.side-promo .banner-content {clear: both; display: block;margin-bottom: 15px;margin-left: 0;position: relative;}
.two-block.side-promo h2 {border-bottom: 1px solid #DBDBDB;}

.bannerstwo li {margin-bottom: 30px; list-style: none; margin-left: 0 !important;}
.bannerstwo li:last-child {margin-bottom: 0;}

.sl-description {position: absolute;bottom:0;width:100%;}
.sl-description .sl-description-text {width:100%;float:none;display:table-cell;vertical-align:middle;color:#fff;padding:15px;height:84px;line-height:1.3;}
.sl-description .sl-description-text p {color:#fff;font-size:14px;margin-bottom:0 !important; }
.sl-description .sl-description-link {width:15%;float:none;display:table-cell;vertical-align:middle;padding:15px;color:#fff;height:84px;text-align:center;white-space:nowrap;}
.sl-description .sl-description-link a.viewmore {font-size:14px;color: #fff;font-family: 'Roboto Condensed', arial, sans-serif;text-transform: uppercase;line-height:1.3;display:block;}

.body-holder h5.no-a {display:inline-block;}
.campaign-info .body-holder {width:100%;bottom:0;top:0;left:0;right:0;max-height:100%;padding:0;}
.campaign-info .body-holder h3 a,
.campaign-info .body-holder h3.no-a,
.body-holder h5 a,
.body-holder h5.no-a {color: #fff;font-family: 'Roboto Condensed', arial, sans-serif;text-transform: none;font-size: 1.2em;font-weight: 400;padding: 5px;}
.campaign-info .body-holder p {color:#fff;font-size:12px;margin:0;padding:10px;font-family:Arial, Helvetica, sans-serif;position:absolute;bottom:0;left:0; width:100%;}
.campaign-info .body-holder h3 a,
.campaign-info .body-holder h3.no-a  {position:absolute;top:20px;left:20px;}

.readmore {text-transform: uppercase;font-size: 0.9em;}

.shopcategoriestitle {text-transform: none;font-weight: 500;color: #222;}

ol.cms-menu > li.parent > a:first-child {font-family: 'Roboto Condensed', arial, sans-serif;font-size:20px;font-weight:normal;}
ol.cms-menu {font-size:0.9em;}
.std dt {font-family: 'Roboto Condensed', arial, sans-serif;}


/* cms page accordian */
#accordion h2 {color:#fff;}
#accordion h3 {border-bottom:1px solid #ccc;}
#accordion h2 {background:#ed1c24;border-bottom:1px solid #fff;}
#accordion .tabs-accor-in {background:#fff;}
#accordion .accordion-in-in {border-bottom:1px solid #ccc;}

.scrollToTop { background: #ed1c24; }

#brand-owl-slider .owl-carousel .owl-item {background-color:#f4f4f4;border-left:1px solid #e1e1e1;}
#brand-owl-slider.owl-wrapper-outer {border-right:1px solid #e1e1e1;}



.shopfinder-list p.tel strong,
.shopfinder-list p.email strong,
.more-contact p strong {font-family: 'Roboto Condensed', arial, sans-serif;font-weight:normal;}
.shop-open-times h3,
h3.address {font-weight:normal;font-size: 1.2em;}
h3.shop-name {font-size: 1.2em;}

p.c5-expired {color:#ed1c24;}
.one-block.side-promo .side-promo-red,
.sl-description,
.side-promo-content,
.body-below,
.side-promo-outer {pointer-events:none;}


/*CMS HIERARCHY*/
.col-left .links .block-title{
    font-family: 'Roboto Condensed', arial, sans-serif;
    font-style: normal;
    line-height: 1.4;
    font-size: 18px;
    font-weight: normal;
}
.homepage-slideshow { display: block; }
.mob-homepage-slideshow { display: none; }

.desktop-side-banner { display: block; }
.mobile-side-banner { display: none; }  

.fb-holder-init .fb-like {clear:both; display:block;}
.fb-holder-init .fb-share-button {clear:both; display:block; margin-top:5px;}
.fb-holder-init .body-holder {top:0; bottom:0; left:0;}

@media only screen and (max-width: 1024px) {
    #upsell-product-table .view-prod,
    .products-grid .actions .view-prod,
    .products-list .view-prod{
        background: #ed1c24;
        color: #fff;
        border: 1px solid #ed1c24;
    }
	.touch .slideshow-pager {display:none;}
	.body-holder p {font-size:1.4em;line-height:1.3em;}
	.sl-description p {line-height:18px;}
	.topblocks .topblocks-content h5 {width:100%;}
	.topblocks .topblocks-content .cathome-link {width:100%;padding: 9px 0;}
	.side-promo .side-promo-outer {bottom:-5px;}
	.side-promo-link a.viewmore span,
	.sl-description .sl-description-link  a.viewmore span {display:none;}

    .slideshow-container .body-holder { width: 54%; }
    .slideshow-pager { bottom: 10px; }
    .slideshow-prev:before, .slideshow-next:before { margin-top: -20px}
	
	.market-brand .large-4 .sl-description {bottom:-3px;}
	
	.one-block.side-promo .body-holder h5, .two-block.side-promo .body-holder h5 {font-size:14px;}
	.one-block.side-promo .side-promo-outer .side-promo-text p, .two-block.side-promo .side-promo-outer .side-promo-text p {font-size:12px;}
}


@media only screen and (max-width: 960px) {
    /*Category List - Filter*/
    .mm-menu > .mm-panel.block-layered-nav .block-title,
    #sortby-filters label{
        background-color:#ed1c24;
        font-family: 'Roboto Condensed', 'Arial', sans-serif;
    }

    .shopcategories-content h2{
        font-size: 20px;
    }

	.cathome .content {
        padding:15px;
    }

    .sidebar .block.block-compare .block-title > strong,
    .block-viewed .block-title span{
        font-size: 18px;
    }

    .cms-index-index .main-container .slideshow-container { width: 100%; }
    .cms-index-index .one-block.side-promo .side-promo-outer {position:relative;bottom:0;}
    
    .slideshow-container .body-holder { width: 69%; }
    .slideshow-container .body-holder {position:relative;padding:10px 0;width:100%;clear:both;left:0;}
    
    .mob-homepage-slideshow ul.slideshow { height: auto; }
    .mob-homepage-slideshow .side-promo-wrapper { width: 100%; padding: 0; }

    .main-container .slideshow .body-holder { width: 100%; padding: 0; margin: 0; } 
    .main-container .slideshow .body-holder img { float: right; width: auto; } 
    .main-container .slideshow .body-holder img { display: block; }
    .main-container .mob-homepage-slideshow .side-promo-wrapper img { width: 100% !important; }  

    .mob-homepage-slideshow ul.slideshow { overflow: hidden; }
    .mob-homepage-slideshow .slideshow .body-holder { height: auto; display: table-row; }
    .mob-homepage-slideshow .p-single.slide-promo { width: 100%; padding: 0; }

    .homepage-slideshow { display: none; }
    .mob-homepage-slideshow { display: block; }
    .home-side-block { display: none; }
    .desktop-side-banner { display: none; }
    .mobile-side-banner { display: block; }  
    
    #mob-home-slider .side-promo .body-holder {position:relative;padding:0;width:100%;clear:both;left:0;}
    #mob-home-slider .side-promo.two-block .body-holder  {bottom:auto;left: 0;position: relative;text-align: left;width: 100%;padding:10px 0;}*/
    #mob-home-slider .sl-description .sl-description-text p, #mob-home-slider .side-promo-outer .side-promo-text p { font-size: 18px; }
    #mob-home-slider .side-promo-link a.viewmore span, #mob-home-slider  .sl-description .sl-description-link a.viewmore span, #mob-home-slider .body-holder .sl-description { display: block !important; }    
    #mob-home-slider .sl-description { position: relative; }*/
    #mob-home-slider .main-container .side-promo .body-holder img { float: right; width: auto; }  
    #mob-home-slider .cms-index-index .one-block.side-promo .side-promo-outer {position:relative;bottom:0; display: block !important; }
    #mob-home-slider .body-holder { display: inline; }
    #mob-home-slider .mobile-side-banner .body-holder { display: table-row; }
    #mob-home-slider .body-holder h2 { float: left; }
    #mob-home-slider .body-holder .side-promo-text h2 { float: none; padding: 0; margin: 0 0 5px; }
    #mob-home-slider .body-holder .side-promo-text p { float: left; padding: 0; margin: 0; }
    #mob-home-slider .body-holder .slider-prices { float: left; margin-left: 50px;  }
    #mob-home-slider .side-promo-outer, 
    #mob-home-slider .body-holder, 
    #mob-home-slider .mobile-side-banner, 
    #mob-home-slider .side-promo, 
    .side-promo-wrapper,
    #mob-home-slider li { height: 100%; }
    #mob-home-slider .side-promo-outer .side-promo-text { height: 100%; width: 90%; display: inline-block; float: left; }
    #mob-home-slider .side-promo-outer { display: inline-block; }
    #mob-home-slider .side-promo .side-promo-outer .side-promo-link { height: 100%; width: 10%; display: inherit; }
    #mob-home-slider .side-promo .side-promo-outer .side-promo-link a { height: 100%; position: relative; top: 45%; }
    #mob-home-slider .row.main-container .side-promo-outer .side-promo-text { width: 65%; }

    .mob-homepage-slideshow .side-promo-wrapper { width: 100%; height: 100%; padding: 0; }
    .main-container .mob-homepage-slideshow .side-promo-wrapper img { width: 100% !important; }
    .main-container .mob-homepage-slideshow .slideshow .body-holder img, .main-container .mob-homepage-slideshow .side-promo .body-holder img { width: 46% !important; }    
    .mob-homepage-slideshow .slideshow .body-holder h5, .homepage-slideshow .slideshow .body-holder h5 { display: block !important;}

    .side-promo-wrappe, #mob-home-slider li { cursor: pointer; }
	
	.one-block.side-promo .side-promo-outer, .two-block.side-promo .side-promo-outer {position:relative; bottom:auto;}
	.one-block.side-promo .side-promo-outer .side-promo-text, .two-block.side-promo .side-promo-outer .side-promo-text {display:block; width:100%;}
	.one-block.side-promo .side-promo-outer .side-promo-link, .two-block.side-promo .side-promo-outer .side-promo-link {display:none;}
}


@media only screen and (max-width: 850px) {
    .cms-inex-index .slideshow-container { width: 100% !important; }
    .slideshow-container .body-holder { width: 46%; }
}


@media only screen and (max-width: 770px) {
	.sl-description .sl-description-link {width:10%;height:90px;}
	.sl-description .sl-description-text { width:90%;height:90px;}
	.sl-description .sl-description-text p,
	.side-promo-outer .side-promo-text p {font-size:12px;line-height:1.2;}
/*	.side-promo .side-promo-outer .side-promo-text {width:80%;height:90px;}
	.side-promo .side-promo-outer .side-promo-link {width:20%;height:90px;}*/
	.side-promo .side-promo-outer {bottom:-8px;}
    .body-holder p {font-size:1.1em;}
	.cathome .content a.readmore,
	.topblocks-content a.readmore  {font-size:12px;}
	.topblocks-content h5 {font-size:1em;}
	 body.cms-home .slideshow-container {margin-bottom:25px;}
	
    .slideshow-container .body-holder { padding: 10px; width: 60%; }
    .new-label.large { font-size: 15px; }        
}
@media only screen and (max-width: 817px){
	.small-12 .side-promo.tp-fix .body-holder  {width:100%;}
}


@media only screen and (max-width: 680px) {
	.two-block.side-promo .fb-holder-init .body-holder h5 {font-size:12px;}
}

@media only screen and (max-width: 641px){
    .two-block.side-promo.columns {padding-left:0;padding-right:0;}
	.one-block .body-holder {width:68%;float:left;top:0;left:0;}
	.one-block.tp-fix .body-holder {width:100%;float:none;top:auto !important;left:0;bottom:0 !important;position:absolute !important;margin-bottom:0;}
	/*.one-block .side-promo-outer {width:68%;float:left;bottom:0;left:0;}*/
	.one-block .body-holder {margin-bottom:20px;}
	.one-block img {float:right;width:28%;}
	.one-block.tp-fix img {float:none;width:100%;}
    .slideshow-container .body-holder { width: 78%; background: rgba(255, 255, 255, 0.85); }
	.two-block.side-promo {float:left;width:49%;}
    .two-block.side-promo.first {margin-right:2%;}
    .one-block.side-promo .side-promo-outer, .two-block.side-promo .side-promo-outer  {position:absolute; min-height:40px; bottom:0;}
    .two-block.side-promo .side-promo-outer .side-promo-text p {margin:2px 0;}
    .two-block.side-promo .side-promo-text, .two-block.side-promo .side-promo-link {min-height:40px;}
	
	.one-block.side-promo .side-promo-outer .side-promo-text, .two-block.side-promo .side-promo-outer .side-promo-text {display:table-cell; width:90%;}
	.one-block.side-promo .side-promo-outer .side-promo-link, .two-block.side-promo .side-promo-outer .side-promo-link {display:table-cell;}
	
    .main-container .mob-homepage-slideshow .slideshow .body-holder img, .main-container .mob-homepage-slideshow .side-promo .body-holder img { display: none !important; }
    .main-container .mob-homepage-slideshow .slideshow a img { margin: 0; }  
    
    .cms-index-index .large-3 .one-block.side-promo img {width:30%;clear:none;float:left;padding-left:0;margin-right:2%;margin-bottom:20px;position:absolute;clip:rect(0,350px,150px,0);}
	.cms-index-index .large-3 .one-block.side-promo .side-promo-outer  {position:relative;width:68%;clear:none;float:right;min-height:150px;}
	.cms-index-index .large-3 .one-block.side-promo .side-promo-text {height:150px;}
	.cms-index-index .large-3 .one-block.side-promo .side-promo-link {height:150px;}
	.cms-index-index .large-3 .large-3 .one-block.side-promo .body-holder {display:none;}
	.topblocks-content {position:relative;}

    #mob-home-slider .body-holder .slider-prices { float: none; margin: 0;}
	.market-brand .large-4 .sl-description {bottom:0;}
	.market-brand .column.large-4.small-12 {padding:0;}
	.market-brand .column.large-4.small-12 img {width:100px;}
	.market-brand .column.large-4.small-12 .sl-description {width:70%;bottom:20px;right:10px;}
    .market-brand .column.large-4.small-12 .sl-description-link {width:1%;}

}

@media only screen and (max-width: 550px){ 
    .slideshow-container .body-holder { background: none; }
    .main-containery .slideshow .body-holder {width:83%;}
    .new-label.large { font-size: 20px; }  
}


@media only screen and (max-width: 480px){
	.two-block .view-prod {background:#ed1c24;color:#fff;}
	.two-block a.view-prod,
	.copy-container .view-now {width:0;height:0;padding:0;font-size:0;}
	.slideshow .view-prod {margin-right:20px;}
	.two-block a.view-prod:before,
	.copy-container .view-now:before {content:"\f061";font-family:FontAwesome;color:#fff;font-size:12px;background:#ed1c24;border-radius:3px;padding:3px;}
	.sl-description {position:relative;}
	.slideshow-container .slideshow > li {padding-bottom:0;}
	.slideshow-container .body-holder {padding:0;width: 45%;}
	.slideshow {margin-bottom:15px}
	.slideshow-container .slideshow > li {padding-bottom:0;}
	.sl-description .sl-description-text,
	.sl-description .sl-description-link { height:50px;}
	.side-promo .side-promo-outer .side-promo-text { height:50px;}
	.side-promo .side-promo-outer .side-promo-link { height:50px;}
	.one-block.side-promo.columns {padding-left:0;}
	.two-block.side-promo {float:left;width:100%;}
    .two-block.side-promo.first {margin-right:0;}
    .new-label.large { font-size: 16px; }
    .slideshow-pager { bottom: 20px; }       

    #mob-home-slider .body-holder h2 { font-size: 20px; }
    #mob-home-slider .side-promo-outer .side-promo-text { width: 82%; }
    #mob-home-slider .side-promo .side-promo-outer .side-promo-link { width: 18%; }
    .sl-description .sl-description-text p, .side-promo-outer .side-promo-text p { font-size: 14px; }

    /*List page*/
    .products-grid .product-name a, .products-list .product-name a, .products-list h2.product-name, .products-list h2.product-name{
        font-size:15px;
    }
	
	.shopcategories-content {border-left: 4px solid #3078c0;}
	.shopcategories-content h2 {background:none; padding:0;}
	.shopcategories-content h2 a {color:#000000;}
	.products-grid--max-3-col>li:nth-child(even) {margin-left:0;}
	.category-grid li.subcategory {border-bottom:none;}		
}

@media only screen and (max-width: 479px) and (min-width: 321px) {
	.category_4block.small-block-grid-1 > li,
	.category_4block.small-block-grid-1 > li:nth-of-type(n+1),
	.topblocks.small-block-grid-1 > li,
	.topblocks.small-block-grid-1 > li:nth-of-type(n+1){width:49%;float:left;clear:none;padding:0 0.9375em 1.875em;}
	.category_4block.small-block-grid-1 > li:nth-child(2n+1),
	.topblocks.small-block-grid-1 > li:nth-child(2n+1)  {padding-left: 0;padding-right: 0.9375em;}
	.category_4block.small-block-grid-1 > li:nth-child(2n),
	.topblocks.small-block-grid-1 > li:nth-child(2n) {padding-right: 0;padding-left: 0.9375em;}
}

@media only screen and (max-width: 479px)  {
	 .cms-index-index .large-3 .one-block.side-promo img {width:100%;clear:none;float:non;padding-left:0;margin-right:0;margin-bottom:0;position:relative;clip:rect( );}
	 .cms-index-index .large-3 .one-block.side-promo .side-promo-outer  {position:absolute;width:100%;clear:none;float:none;min-height:0;height:auto;}
	 .cms-index-index .large-3 .one-block.side-promo {position:static;margin-bottom:20px;}
	 .cms-index-index .large-3 .one-block.side-promo .side-promo-text {height:auto;}
	 .cms-index-index .large-3 .one-block.side-promo .side-promo-link {height:auto;}
	 .cms-index-index .large-3 .one-block.side-promo .body-holder {display:block;}
	 
     .market-brand .column.large-4.small-12 img {width:100%;}
	 .market-brand .column.large-4.small-12 .sl-description {width:100%;}
	 .market-brand .column.large-4.small-12 img {margin-bottom:20px;}
}

@media only screen and (max-width: 410px) {
 .market-brand .column.large-4.small-12 .sl-description {width:100%;bottom: 0;position: absolute;width: 100%;bottom:0;right:0;}
}	
 
@media only screen and (max-width: 320px)  {
	.sl-description {position:relative;}
	.side-promo .side-promo-outer {bottom:0;}
	.sl-description .sl-description-text,
	.sl-description .sl-description-link { height:150px;}
	.sl-description .sl-description-link {padding:0;} 
	.side-promo .side-promo-outer .side-promo-text { height:80px;width:90%;}
	.side-promo .side-promo-outer .side-promo-link { height:80px;width:10%;padding:0;margin-bottom:0;} 
    .one-block img {width:100%;}
	.one-block .side-promo-content {width:50%;float:none;top:5%;left:5%;} 
	.one-block .body-holder {width:50%;float:none;top:5%;left:5%;} 
	.one-block.tp-fix .body-holder {width:100%;float:none;top:auto !important;left:0;bottom:0 !important;position:absolute !important;}
	.one-block .side-promo-outer  {width:100%;float:none;bottom:0;left:0;}
    #mob-home-slider .side-promo-outer .side-promo-text { width: 89%; }
    #mob-home-slider .side-promo .side-promo-outer .side-promo-link { width: 11% }
}